.flows.json.backup
[{"id":"25e0c6e7.7b804a","type":"tab","label":"Puppet Show","disabled":false,"info":""},{"id":"151d107c.6f1aa","type":"debug","z":"25e0c6e7.7b804a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":280,"wires":[]},{"id":"20d8b05a.fe4ba","type":"json","z":"25e0c6e7.7b804a","name":"","property":"payload.value","action":"","pretty":true,"x":250,"y":160,"wires":[["15533bd8.282f44"]]},{"id":"15533bd8.282f44","type":"function","z":"25e0c6e7.7b804a","name":"query Selectors","func":"'use strict';\n\nmsg.topic = \"1betpro\";\n\n//For Debuging with injection and without kafka\nif(msg.payload.value!==undefined){\n    msg.payload = msg.payload.value;\n}\nelse{\n    msg.payload.value = msg.payload;\n}\n//End Debugging\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    const browser = await puppeteer.launch({args: msg.payload.value.browser_args});\n    const page = await browser.newPage();\n    \n    await page.goto(msg.payload.value.url);\n    \n    await page.type(msg.payload.value.username_selector, msg.payload.value.username);\n    await page.type(msg.payload.value.password_selector, msg.payload.value.password);\n    \n    await page.waitForSelector(msg.payload.value.login_button_selector);\n    \n    await page.click(msg.payload.value.login_button_selector);\n    \n    await page.waitForSelector(msg.payload.value.logout_user_selector);\n    \n    await page.goto(msg.payload.value.next_url);\n    \n    await page.waitForSelector(msg.payload.value.wait_for_selector);\n    \n    /*result = await page.evaluate(async (queries) => {\n      new Promise((resolve, reject) => {\n        try {\n\n            queries.filter(query => query.enabled).map(query => {\n                \n                attributes = function (e){\n                    return Array.from(e.attributes).map(attribute => ({name: attribute.name, value: attribute.value}))\n                }\n                \n                query.result = Array.from(document.querySelectorAll(query.selector)).map(eval(query.pageFunction));\n                return query;\n            });\n\n            if(queries.length>0) resolve();\n            \n        } catch (error) {\n            console.log(\"error!!!!\")\n          reject(error);\n        }\n      }).catch(error => {\n        console.log(\"error!!!!\") // add catch here\n        //console.error(error) // add catch here\n      })\n    }, msg.payload.value.queries);\n    */\n    \n    result = await page.evaluate(queries => {\n        \n        return queries.filter(query => query.enabled).map(query => {\n            \n            var attributes = function (e){\n                return Array.from(e.attributes).map(attribute => ({name: attribute.name, value: attribute.value}))\n            }\n            \n            var groupBy = function(xs, key) {\n                return xs.reduce(function(rv, x) {\n                    (rv[x[key]] = rv[x[key]] || []).push(x);\n                    return rv;\n                }, {});\n            };\n            \n            var setChildrenAttribute = function(e, name, limit=-1, depth=0){\n                \n                const attribute_value = attributes(e).filter(attribute => attribute.name === name)[0].value;\n                \n                e.childNodes.forEach(c => {\n                                    c.setAttribute(name,attribute_value);\n                                    if(depth<limit) setChildrenAttribute(c, name, depth++);\n                });\n                \n            }\n            try{\n                \n                if(query.selector!==undefined){\n                    query.selected = true;\n                    if(query.pageFunction===undefined){\n                        query.result = Array.from(document.querySelectorAll(query.selector));\n                    }\n                    else{\n                        query.mapped = true;\n                        query.result = Array.from(document.querySelectorAll(query.selector)).map(eval(query.pageFunction));\n                    }\n                    \n                    if(query.command!==undefined){\n                        query.modified = true;\n                        Array.from(document.querySelectorAll(query.selector)).forEach(eval(query.command));\n                    }\n                }\n                \n                if(query.filter!==undefined){\n                    query.filtered = true;\n                    query.result = query.result.filter(eval(query.filter));\n                }\n                \n                if(query.groupBy!==undefined){\n                    query.grouped = true;\n                    query.result = groupBy(query.result, query.groupBy);\n                }\n            }\n            catch(error){\n                console.error(error);\n                query.error = error.message;\n            }\n            \n            return query;\n        })\n        \n    },msg.payload.value.queries);\n    \n    \n    //Array.from(e.attributes).map(attribute => ({name: attribute.name, value: attribute.value}))\n    msg.payload = result;\n    /*msg.payload = await page.evaluate({\n        return Array.from(document.querySelectorAll(results_selector));\n    });*/\n    \n    msg.topic = msg.topic + \"_extracted\";\n\n    node.send(msg);\n    \n        \n    \n\n    await browser.close();\n\n})();","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["6d93887e.c57a98"]]},{"id":"fcf73cfd.bae76","type":"kafka consumer","z":"25e0c6e7.7b804a","name":"1betpro","zk":"zookeeper-zookeeper.default.svc.cluster.local:2181","topics":"1betpro","consumerGroupId":"","autoCommit":"","kafkaEncoding":"utf8","x":90,"y":160,"wires":[["20d8b05a.fe4ba"]]},{"id":"7ac484b7.34c5fc","type":"kafka producer","z":"25e0c6e7.7b804a","name":"1betpro_finished","zk":"zookeeper-zookeeper.default.svc.cluster.local:2181","topics":"1betpro_finished","kafkaClientId":"","zkSessionTimeout":"","zkSpinDelay":"","zkRetries":"","noAckBatchSize":"","noAckBatchAge":"","requireAcks":"","ackTimeoutMs":"","partitionerType":"","x":1070,"y":660,"wires":[]},{"id":"ec67ce57.5fe5b","type":"kafka consumer","z":"25e0c6e7.7b804a","name":"1betpro_finished","zk":"zookeeper-zookeeper.default.svc.cluster.local:2181","topics":"1betpro_finished","consumerGroupId":"","autoCommit":"","kafkaEncoding":"utf8","x":120,"y":280,"wires":[["2eb771d3.abcbee"]]},{"id":"2eb771d3.abcbee","type":"json","z":"25e0c6e7.7b804a","name":"","property":"payload.value","action":"","pretty":true,"x":490,"y":280,"wires":[["151d107c.6f1aa"]]},{"id":"8e8ed84d.848508","type":"inject","z":"25e0c6e7.7b804a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["a0fbec9e.347ae"]]},{"id":"a0fbec9e.347ae","type":"function","z":"25e0c6e7.7b804a","name":"prepare 1betpro message","func":"msg = {\n    topic : '1betpro',\n    payload : {\n        browser_args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage'],\n        url: 'https://1betpro.com/',\n        username: 'Tal1234',\n        password: '1111',\n        username_selector: '#form > div:nth-child(2) > input',\n        password_selector: '#form > div:nth-child(3) > input',\n        login_button_selector: '#form > input',\n        logout_user_selector: '#logout_user',\n        next_url: 'https://1betpro.com/live/',\n        wait_for_selector: '#select_type_bet > a.Active',\n        results_selector : '.live_lines',//'tr.bets_lines td',\n        queries:[{\n                selector: \".live_lines\",\n                pageFunction : \"e => e.outerHTML\",\n                args: [],\n                enabled: true\n            },{\n                selector: \".live_lines div[league_id]\",\n                command: \"e => { setChildrenAttribute(e, 'league_id') }\",\n                pageFunction : \"e => ({type: 'league', id: attributes(e).filter(attribute => attribute.name === 'league_id')[0].value})\",\n                args: [],\n                enabled: true\n            },{\n                selector: \".live_lines > table .head_line_bottom b\",\n                pageFunction : \"e => ({type: 'league', name: e.innerText})\",\n                args: [],\n                enabled: true\n            },{\n                selector: \".live_lines > div[league_id] .bets_lines\",\n                pageFunction : \"(e ,index) => ({type :'line', row: e.innerText.split('\\\\t')[0], index :index})\",\n                groupBy: 'number',\n                args: [],\n                enabled: false\n            },{\n                selector: \".live_lines > div[league_id] .teams\",\n                pageFunction : \"(e ,index) => ({type :'line.team', number: Math.floor(index / 3), team: e.innerText, league_id: attributes(e).filter(attribute => attribute.name === 'league_id')[0].value,index :index})\",\n                //filter: \"line => line.index % 3 === 0\",\n                groupBy: 'number',\n                args: [],\n                enabled: true            \n            }],\n        models: \n            [{\n                key : \"LiveLine\",\n                selector: \".live_lines\",\n                value: \"outerHTML\",\n                models: [{\n                    key : \"League\",\n                    selector : \"div[league_id]\",\n                    value: \"league_id\",\n                    fields: [{\n                        key : \"name\",\n                        selector : \".head_line_bottom b\",\n                        value: \"textContent\"\n                    }]\n                }]\n            }],\n        reduce_selector : '.head_line_bottom b',\n        finish_topic_suffix : \"_finished\",\n        _time : msg.payload,\n        time  : new Date(msg.payload).toISOString()\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["15533bd8.282f44"]]},{"id":"c0854aa1.d7d978","type":"kafka producer","z":"25e0c6e7.7b804a","name":"1betpro","zk":"zookeeper-zookeeper.default.svc.cluster.local:2181","topics":"1betpro","kafkaClientId":"","zkSessionTimeout":"","zkSpinDelay":"","zkRetries":"","noAckBatchSize":"","noAckBatchAge":"","requireAcks":"","ackTimeoutMs":"","partitionerType":"","x":920,"y":80,"wires":[]},{"id":"6d93887e.c57a98","type":"switch","z":"25e0c6e7.7b804a","name":"1betpro","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1betpro_extracted","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":160,"wires":[["151d107c.6f1aa"]]},{"id":"4bcd4375.8f581c","type":"function","z":"25e0c6e7.7b804a","name":"Aggregate","func":"const fixed_number_of_total_td_in_tr = 10;\nconst start_from_td = 2;\nanchors = msg.payload;\n\naggregated_rows = [];\n\nfor (i = start_from_td; i < anchors.length; i+fixed_number_of_total_td_in_tr) {\n    \n    try{\n        const anchor = anchors[i];\n        \n        row = {};\n        \n        row.team  = (anchor.innerHTML.lenght>0) ? anchor.innerHTML.split(\"</\")[1].split(\">\")[anchor.innerHTML.split(\"</\")[1].split(\">\").length-1] : null;\n        row.score = (anchor.innerHTML.lenght>0) ? anchor.innerHTML.split(\"</\")[0].split(\">\")[anchor.innerHTML.split(\"</\")[0].split(\">\").length-1] : null;\n          \n        aggregated_rows.push(row); \n    }\n    catch(e){\n        \n    }\n}\n\nmsg = {\n    topic: \"1betpro_aggregated\",\n    payload : aggregated_rows\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":640,"wires":[["151d107c.6f1aa"]]},{"id":"bbe0460c.a8cb38","type":"catch","z":"25e0c6e7.7b804a","name":"","scope":null,"x":100,"y":380,"wires":[["3faddb54.b39bc4"]]},{"id":"15755a87.2b8635","type":"json","z":"25e0c6e7.7b804a","name":"","property":"payload.value","action":"","pretty":true,"x":470,"y":460,"wires":[["3faddb54.b39bc4"]]},{"id":"b6b2ec59.a695d","type":"kafka producer","z":"25e0c6e7.7b804a","name":"errors","zk":"zookeeper-zookeeper.default.svc.cluster.local:2181","topics":"errors","kafkaClientId":"","zkSessionTimeout":"","zkSpinDelay":"","zkRetries":"","noAckBatchSize":"","noAckBatchAge":"","requireAcks":"","ackTimeoutMs":"","partitionerType":"","x":930,"y":380,"wires":[]},{"id":"b54fdd71.b18a8","type":"kafka consumer","z":"25e0c6e7.7b804a","name":"errors","zk":"zookeeper-zookeeper.default.svc.cluster.local:2181","topics":"errors","consumerGroupId":"","autoCommit":"","kafkaEncoding":"utf8","x":90,"y":460,"wires":[["15755a87.2b8635"]]},{"id":"3faddb54.b39bc4","type":"debug","z":"25e0c6e7.7b804a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":460,"wires":[]},{"id":"5f2dbc78.fb1c94","type":"function","z":"25e0c6e7.7b804a","name":"query Selectors 1.0","func":"'use strict'; \nmsg.topic = \"1betpro\";\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    const browser = await puppeteer.launch({args: msg.payload.value.browser_args});\n    const page = await browser.newPage();\n    \n    await page.goto(msg.payload.value.url);\n    \n    await page.type(msg.payload.value.username_selector, msg.payload.value.username);\n    await page.type(msg.payload.value.password_selector, msg.payload.value.password);\n    \n    await page.waitForSelector(msg.payload.value.login_button_selector);\n    \n    await page.click(msg.payload.value.login_button_selector);\n    \n    await page.waitForSelector(msg.payload.value.logout_user_selector);\n    \n    await page.goto(msg.payload.value.next_url);\n    \n    await page.waitForSelector(msg.payload.value.wait_for_selector);\n    \n    // Extract the results from the page.\n    rows = await page.evaluate(results_selector => {\n        \n        //Extract\n        anchors = Array.from(document.querySelectorAll(results_selector));\n        \n        \n        //Transform\n        return anchors.map((anchor, index, array) => {\n            row = {};\n                \n            row.fixed_number_of_total_td_in_tr = 10;\n            row.array_length = array.length;\n            \n            row.index = index;\n            row.event_number = Math.floor(row.index/10);\n            row.textContent = `${anchor.textContent}`;\n            row.innerHTML = `${anchor.innerHTML}`;\n            \n            if(`${anchor.id}`!==\"\"){\n                row.id = `${anchor.id}`;\n                \n                row.team_anchor_index = (row.event_number*10);\n                \n                //team_anchor = array[team_anchor_index];\n                \n                //console.log(team_anchor);\n                \n                //row.team_innerHTML = `${team_anchor.innerHTML}`;\n                \n                row.source = anchor;\n                \n                row.elements = row.innerHTML.split(\"</\");\n                //custom transformation\n                row.id_parts = row.id.split(\"_\");\n                row.part0 = (row.id_parts.length > 0) ? row.id_parts[0] : null;\n                row.part1 = (row.id_parts.length > 1) ? row.id_parts[1] : null;\n                row.part2 = (row.id_parts.length > 2) ? row.id_parts[2] : null;\n                row.part3 = (row.id_parts.length > 3) ? row.id_parts[3] : null;\n                row.part4 = (row.id_parts.length > 4) ? row.id_parts[4] : null;\n                \n                //row.team  = (team_innerHTML.lenght>0) ? team_innerHTML.split(\"</\")[1].split(\">\")[team_innerHTML.split(\"</\")[1].split(\">\").length-1] : null;\n                //row.score = (team_innerHTML.lenght>0) ? team_innerHTML.split(\"</\")[0].split(\">\")[team_innerHTML.split(\"</\")[0].split(\">\").length-1] : null;\n                  \n                row.bet_1x2 = (row.part2===\"02\")? row.textContent : null;\n                \n                row.bet_handicap1 = (row.part2===\"01\")? row.textContent.split(\" \")[0] : null;\n                row.bet_handicap2 = (row.part2===\"01\")? row.textContent.split(\" \")[1] : null;\n                \n                row.bet_over1 = (row.part2===\"03\" && row.textContent.split(\" \")[0]===\"O\")? row.textContent.split(\" \")[1]  : null;\n                row.bet_over2 = (row.part2===\"03\" && row.textContent.split(\" \")[0]===\"O\")? row.textContent.split(\" \")[2]  : null;\n        \n                row.bet_under1 = (row.part2===\"03\" && row.textContent.split(\" \")[0]===\"U\")? row.textContent.split(\" \")[1]  : null;\n                row.bet_under2 = (row.part2===\"03\" && row.textContent.split(\" \")[0]===\"U\")? row.textContent.split(\" \")[2]  : null;\n        \n                //console.log(row);\n            //}\n            //catch(e){\n                \n            //}\n            }\n            \n            return row;\n            \n        });\n    }, msg.payload.value.results_selector);\n  \n    msg.topic = msg.topic + \"_extracted\";\n    \n    msg.payload = await rows.reduce((all, one) =>{\n        \n        if(!Array.isArray(all)){\n            all = [];\n        }\n        \n        result = all[one.event_number];\n        \n        console.log(result);\n        \n        if (result === undefined) {\n            // not found\n            one.all = [];\n            all.splice(one.event_number, 0, one);\n        }  else {\n            // multiple items found\n            result.all.splice(one.event_number, 0, one);\n        }\n        \n        return all;\n    });\n    \n    node.send(msg);\n    //console.log(rows.join('\\n'));\n    //console.log(rows);\n  \n    browser.close();\n})();","outputs":1,"noerr":0,"x":370,"y":560,"wires":[[]]},{"id":"ddf233b7.569e8","type":"html","z":"25e0c6e7.7b804a","name":"","property":"payload.innerHTML","tag":"","ret":"html","as":"multi","x":790,"y":160,"wires":[["c85cc2ae.ad0ad"]]},{"id":"c85cc2ae.ad0ad","type":"debug","z":"25e0c6e7.7b804a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":960,"y":160,"wires":[]},{"id":"5b8b5869.7e75c8","type":"function","z":"25e0c6e7.7b804a","name":"","func":"//Extract\n        function map_document(doc, models){\n        \n            return models.map(model=> {\n                \n                model.rows = [];\n                \n                anchors = Array.from(doc.querySelectorAll(model.selector));\n                    \n                anchors.forEach((anchor) => {\n                    row = {};\n                    row.messages = [];\n                    \n                    row.key = model.key;\n                    row.selector = model.selector;\n                    \n                    row.attributes = Array.from(anchor.attributes).map(someAt => ({name: someAt.name, value: someAt.value}))\n                    row.attributes.push({name: \"textContent\", value: `${anchor.textContent}`});\n                    row.attributes.push({name: \"innerHTML\", value: `${anchor.innerHTML}`});\n                    row.attributes.push({name: \"outerHTML\", value: `${anchor.outerHTML}`});\n                    row.value = null;\n                    \n                    if(model.hasOwnProperty(\"value\")){\n                        row.messages.push(\"model \" + model.key + \" has value\");\n                        row.attribute = row.attributes.find(o => o.name === model.value);\n                        if(row.attribute!==undefined) row.value = row.attribute.value;\n                    }\n                    \n                    if(model.hasOwnProperty(\"models\")){\n                        row.messages.push(\"model \" + model.key + \" has models\");\n                        map_document(anchor, model.models);\n                    }\n                    \n                    if(model.hasOwnProperty(\"fields\")){\n                        row.messages.push(\"model \" + model.key + \" has fields\");\n                        map_document(anchor, model.fields);\n                    }\n                    \n                    model.rows.push(row);\n                });\n                \n                return model;\n                \n            });\n        }\n\n        return map_document(document, models);\n        /*return maps.map(map=> {\n            \n            if(map.anchor===undefined) map.anchor = document;\n            \n            anchors = Array.from(map.anchor.querySelectorAll(map.selector));\n            \n            return anchors.map((anchor, index, array) => {\n                row = {};\n                \n                row.textContent = `${anchor.textContent}`;\n                row.innerHTML = `${anchor.innerHTML}`;\n                //row.outerHTML = `${anchor.outerHTML}`;\n                row.innerJson = `${anchor.innerHTML}`;\n                \n                if(map.hasOwnProperty(\"selectors\")){\n                    \n                }\n                \n                return row;\n            });\n            \n        });*/\n        \nreturn msg;","outputs":1,"noerr":0,"x":180,"y":640,"wires":[[]]}]