.flows.json.backup
[{"id":"92ceeb1e.d32f98","type":"tab","label":"Albert Master","disabled":false,"info":""},{"id":"8743a80b.8df4a8","type":"tab","label":"Albert Worker","disabled":true,"info":""},{"id":"65f44ef2.bdfa2","type":"tab","label":"1BetPro.com","disabled":false,"info":""},{"id":"f641612c.279ef","type":"tab","label":"966sport.com","disabled":false,"info":""},{"id":"b8284098.78adc","type":"tab","label":"1betpro.com-page","disabled":true,"info":""},{"id":"55b69a4f.0d6a04","type":"tab","label":"966sport.com-page","disabled":true,"info":""},{"id":"89367071.1a484","type":"tab","label":"save-document","disabled":false,"info":""},{"id":"d94fb931.bab888","type":"subflow","name":"1Betpro.com Session","info":"","in":[{"x":300,"y":280,"wires":[{"id":"f33e6a44.9207c8"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"4dd018a2.9703c8","port":0}]},{"x":740,"y":300,"wires":[{"id":"4dd018a2.9703c8","port":1}]}]},{"id":"6ca7ba6a.fb6f14","type":"subflow","name":"Bot Starter","info":"","in":[{"x":40,"y":140,"wires":[{"id":"776d9b53.b4dba4"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"d7e13ed0.a2355","port":0}]}]},{"id":"faf2e075.8588c","type":"subflow","name":"Land and listen to events","info":"","in":[{"x":680,"y":320,"wires":[{"id":"3c5b23c9.6f8d1c"}]}],"out":[{"x":1200,"y":320,"wires":[{"id":"ca4ed912.eec118","port":0}]}]},{"id":"bda9989.3a98068","type":"subflow","name":"For Each Page","info":"","in":[{"x":400,"y":160,"wires":[{"id":"1528693d.0811d7"}]}],"out":[{"x":1060,"y":160,"wires":[{"id":"a65dba6.f920e48","port":0}]}]},{"id":"29cf43c4.26adec","type":"subflow","name":"Elasticsearch Merge","info":"","in":[{"x":60,"y":280,"wires":[{"id":"463f84ea.2a9dbc"}]}],"out":[{"x":1320,"y":240,"wires":[{"id":"d0f85fd9.2da0d","port":0}]},{"x":1320,"y":320,"wires":[{"id":"fa556f64.980fd","port":0}]},{"x":1320,"y":160,"wires":[{"id":"78dcc27.5dc073c","port":0}]}]},{"id":"52f2656a.61247c","type":"subflow","name":"1Betpro.com Line Transform","info":"","in":[{"x":20,"y":280,"wires":[{"id":"9edd3745.df21f8"}]}],"out":[{"x":1920,"y":280,"wires":[{"id":"362f1b45.9f4714","port":0}]}]},{"id":"fd5c9c45.e7c55","type":"subflow","name":"List Games","info":"","in":[{"x":60,"y":200,"wires":[{"id":"5c4c5c17.9aa634"}]}],"out":[{"x":940,"y":200,"wires":[{"id":"7fc302c0.bf813c","port":0}]}]},{"id":"8d7750f6.a91db","type":"subflow","name":"List Lines","info":"","in":[{"x":380,"y":240,"wires":[{"id":"8271efd5.73b9"}]}],"out":[{"x":980,"y":240,"wires":[{"id":"de22efe5.6e2f4","port":0}]}]},{"id":"520d204a.6248b","type":"subflow","name":"For Each Game","info":"","in":[{"x":500,"y":220,"wires":[{"id":"e842ceac.82bd7"}]}],"out":[{"x":1180,"y":220,"wires":[{"id":"fb3d627c.b4bff","port":0}]}]},{"id":"b7eb2a5f.2481a8","type":"subflow","name":"966Sport.com Session","info":"","in":[{"x":460,"y":240,"wires":[{"id":"8a088a21.50a928"}]}],"out":[{"x":880,"y":220,"wires":[{"id":"62fe0d24.d84414","port":0}]},{"x":880,"y":260,"wires":[{"id":"62fe0d24.d84414","port":1}]}]},{"id":"dd2ff415.75e098","type":"subflow","name":"966Sport Line Transform","info":"","in":[{"x":40,"y":240,"wires":[{"id":"991eebed.cff178"}]}],"out":[{"x":1320,"y":240,"wires":[{"id":"54ac5ac5.ce4974","port":0}]}]},{"id":"363f279c.1671a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"43749542.37d54c","type":"remote-server","z":"","name":"elastic","host":"http://elasticsearch.default.svc.cluster.local:9200"},{"id":"c0e67585.074708","type":"kafka-broker","z":"","broker":"kafka-kafka.default.svc.cluster.local:9092","clientid":""},{"id":"3c5b23c9.6f8d1c","type":"function","z":"faf2e075.8588c","name":"Go To Page and Listen","func":"'use strict';\n\nvar DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    try{\n        const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n        let page = await browser.newPage();\n  \n        log('Setting Session Cookies');\n        await page.setCookie(...msg.session.cookies);\n        \n        await page.on('response', response => {\n             if (response.url().includes(msg.page.listenTo[0]) && response.status()===200){\n                \n                //msg.headers = response.request().headers();\n                //msg.postData = response.request().postData();\n                \n                response.json().then(function (json) {\n                    \n                    msg.topic = msg.page.url + '_RECEIVED_RESPONSE';\n                    msg.payload = json;\n                    \n                    node.send(msg);\n        \n                    log(msg.page.website.name + ' -- Sending a ' + msg.topic + ' message');\n                })\n            }\n        });\n\n        log('Go to page ' + msg.page.url);\n        await page.goto(msg.page.url);\n\n        log(msg.page.website.name + ' -- Wait For Selector ' + msg.page.waitForSelector + ' ...')\n        await page.waitForSelector(msg.page.waitForSelector,{timeout : 10000});\n        //await page.waitForNavigation({waitUntil: 'load'});\n        \n        const url = await page.evaluate(() => location.href);\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        log(msg.page.website.name + ' -- Waiting ' + (msg.page.waitFor/1000) + ' seconds for responses before closing browser');\n        await sleep(msg.page.waitFor);\n        \n        log(msg.page.website.name + ' -- Closing browser...');\n        \n        await browser.close();\n        \n        log(msg.page.website.name + ' -- Goodbye!!');\n    }\n    catch(e){\n        node.error(e);\n    }\n})();","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["ca4ed912.eec118"]]},{"id":"f33e6a44.9207c8","type":"function","z":"d94fb931.bab888","name":"Login","func":"'use strict';\n\nvar DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n    \nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    try{\n        const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n        const page = await browser.newPage();\n  \n        log(msg.website.name + ' -- Go to 1BetPro Website');\n        await page.goto('https://1betpro.com/');\n\n        log(msg.website.name + ' -- Type the login information :' + JSON.stringify(msg.website.params));\n        await page.type('#form > div:nth-child(2) > input', msg.website.params.username);\n        await page.type('#form > div:nth-child(3) > input', msg.website.params.password);\n\n        await page.waitForSelector('#form > input',{timeout : 5000});\n\n        log(msg.website.name + ' -- Login')\n        await page.click('#form > input');\n        \n        log(msg.website.name + ' -- Wait till logged in')\n        await page.waitForSelector('#logout_user',{timeout : 10000});\n        \n        log(msg.website.name + ' -- Logged In, saving cookies')\n        //msg.website.cookies = await page.cookies()\n        \n        const cookies = await page.cookies()\n        const url = await page.evaluate(() => location.href);\n        \n        msg.session ={\n            cookies: cookies,\n            history: []\n        }\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        msg.topic = 'LOGIN_SUCCESS';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        //await browser.close();\n    }\n    catch(e){\n        \n        node.error(e);\n        \n        msg.topic = 'LOGIN_FAILED';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        //await browser.close();\n    }\n})();","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["4dd018a2.9703c8"]]},{"id":"1528693d.0811d7","type":"change","z":"bda9989.3a98068","name":"Set Pages","rules":[{"t":"set","p":"payload","pt":"msg","to":"website.pages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["3e8df435.17460c"]]},{"id":"3e8df435.17460c","type":"split","z":"bda9989.3a98068","name":"For Each Page","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":720,"y":160,"wires":[["a65dba6.f920e48"]]},{"id":"4dd018a2.9703c8","type":"switch","z":"d94fb931.bab888","name":"Login Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN_SUCCESS","vt":"str"},{"t":"eq","v":"LOGIN_FAILED","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[[],[]]},{"id":"ca4ed912.eec118","type":"switch","z":"faf2e075.8588c","name":"Response","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"msg.page.url & '_RECEIVED_RESPONSE'","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":320,"wires":[[]]},{"id":"eba2bf23.6eece","type":"change","z":"8d7750f6.a91db","name":"Set Line","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.line","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"$count(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["de22efe5.6e2f4"]]},{"id":"8271efd5.73b9","type":"switch","z":"8d7750f6.a91db","name":"Got Line","property":"payload.line","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":240,"wires":[["eba2bf23.6eece"]]},{"id":"de22efe5.6e2f4","type":"split","z":"8d7750f6.a91db","name":"For Each Line","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":820,"y":240,"wires":[[]]},{"id":"5c4c5c17.9aa634","type":"html","z":"fd5c9c45.e7c55","name":"Games","property":"payload.html","tag":"tr[game_id]","ret":"attr","as":"single","x":160,"y":200,"wires":[["d51a1b5b.e97b98"]]},{"id":"37567a71.92f186","type":"change","z":"fd5c9c45.e7c55","name":"Set Game ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.html[0].game_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["a2a014fd.7e5dc8"]]},{"id":"7fc302c0.bf813c","type":"join","z":"fd5c9c45.e7c55","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":810,"y":200,"wires":[[]]},{"id":"d51a1b5b.e97b98","type":"switch","z":"fd5c9c45.e7c55","name":"","property":"payload.html[0]","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":200,"wires":[["37567a71.92f186"]]},{"id":"e842ceac.82bd7","type":"split","z":"520d204a.6248b","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":660,"y":220,"wires":[["a3477e2e.5793b"]]},{"id":"a3477e2e.5793b","type":"delay","z":"520d204a.6248b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["fb3d627c.b4bff"]]},{"id":"9edd3745.df21f8","type":"change","z":"52f2656a.61247c","name":"Set Game Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.origin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["2ee2b01d.82be"]]},{"id":"2ee2b01d.82be","type":"split","z":"52f2656a.61247c","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":360,"y":280,"wires":[["d154070c.4ac2f8"]]},{"id":"d154070c.4ac2f8","type":"switch","z":"52f2656a.61247c","name":"","property":"payload.types","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["94fbb25e.c4de7"]]},{"id":"94fbb25e.c4de7","type":"change","z":"52f2656a.61247c","name":"Set Types","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.types","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["835b0a86.fee6a8"]]},{"id":"835b0a86.fee6a8","type":"split","z":"52f2656a.61247c","name":"For Each Type","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":280,"wires":[["227433d4.fe887c"]]},{"id":"227433d4.fe887c","type":"change","z":"52f2656a.61247c","name":"Set Games","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.games","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":280,"wires":[["7818844.30edf7c"]]},{"id":"7818844.30edf7c","type":"split","z":"52f2656a.61247c","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1140,"y":280,"wires":[["748372d2.415cec"]]},{"id":"eedfb9a8.ab5f18","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.website.name","pt":"msg","to":"website.name","tot":"msg"},{"t":"set","p":"payload.sport.name","pt":"msg","to":"$lowercase(msg.payload.sport)","tot":"jsonata"},{"t":"set","p":"payload.event.name","pt":"msg","to":"$lowercase(msg.payload.teams[0] & ' VS ' & msg.payload.teams[1])","tot":"jsonata"},{"t":"set","p":"payload.event.league.name","pt":"msg","to":"$lowercase(msg.payload.league)","tot":"jsonata"},{"t":"set","p":"payload.event.participants","pt":"msg","to":"payload.teams","tot":"msg"},{"t":"set","p":"payload.event.date","pt":"msg","to":"payload.date","tot":"msg"},{"t":"set","p":"payload.event.odds","pt":"msg","to":"payload.odds","tot":"msg"},{"t":"delete","p":"payload.sport","pt":"msg"},{"t":"delete","p":"payload.league","pt":"msg"},{"t":"delete","p":"payload.date","pt":"msg"},{"t":"delete","p":"payload.teams","pt":"msg"},{"t":"delete","p":"payload.live","pt":"msg"},{"t":"delete","p":"payload.fav","pt":"msg"},{"t":"delete","p":"payload.more","pt":"msg"},{"t":"delete","p":"payload.odds","pt":"msg"},{"t":"delete","p":"payload.show_options","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":360,"wires":[[]]},{"id":"748372d2.415cec","type":"function","z":"52f2656a.61247c","name":"","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog(msg.website.name + ' -- Start Transformation...');\n\nlet odds = [];\n\nlet event = {\n    \"name\" : (msg.payload.teams[0] + ' vs ' + msg.payload.teams[1]).toLowerCase(),\n    \"participants\" : msg.payload.teams.map(team => {return team.toLowerCase()}),\n    \"date\" : msg.payload.date,\n    \"score\" : (msg.payload.hasOwnProperty(\"add_inf\")) ? msg.payload.add_inf.sc1 + ' - ' + msg.payload.add_inf.sc2 : '0 - 0',\n    \"league.name\" : msg.payload.league.toLowerCase(),\n    \"sport.name\" : msg.payload.sport.toLowerCase(),\n    \"minute\": (msg.payload.hasOwnProperty(\"add_inf\")) ? parseInt(msg.payload.add_inf.minute.replace(\"'\")) : 0\n}\n\nlet website = msg.website;\n\nlet orig_odds = msg.payload.odds;\n\nif(orig_odds.hasOwnProperty(\"ft\")){\n    \n    if(orig_odds.ft.hasOwnProperty(\"1x2\")){\n            \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][0][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][0][1]),\n                \"run_line\" : 1,\n                \"opponent\": 1\n            }\n        });\n    \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][1][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][1][1]),\n                \"run_line\" : 1,\n                \"opponent\": 2\n            }\n        });\n        \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][2][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][2][1]),\n                \"run_line\" : 1,\n                \"opponent\": 0\n            }\n        });\n    }\n    \n    if(orig_odds.ft.hasOwnProperty(\"ou\")){\n        orig_odds.ft.ou.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Over\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Under\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n    \n    if(orig_odds.ft.hasOwnProperty(\"ah\")){\n        orig_odds.ft.ah.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n}\n\nif(orig_odds.hasOwnProperty(\"ht\")){\n    \n    if(orig_odds.ht.hasOwnProperty(\"1x2\")){\n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][0][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][0][1]),\n                \"run_line\" : 1,\n                \"opponent\": 1\n            }\n        });\n    \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][1][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][1][1]),\n                \"run_line\" : 1,\n                \"opponent\": 2\n            }\n        });\n        \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][2][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][2][1]),\n                \"run_line\" : 1,\n                \"opponent\": 0\n            }\n        });\n    }\n    \n    if(orig_odds.ht.hasOwnProperty(\"ou\")){\n        orig_odds.ht.ou.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Over\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Under\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n    \n    if(orig_odds.ht.hasOwnProperty(\"ah\")){\n        orig_odds.ht.ah.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n}\n\nlog(msg.website.name + ' -- Finish Transformation, got ' + odds.length + ' rows');\n\n/*odds = odds.map(odd => {\n    Object.keys(odd).map(function(key, index) {\n       odd[key] = (odd[key]===null || odd[key]===undefined) ? \"-1\" : odd[key];\n    });\n})*/\n\nmsg.payload = odds;\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":280,"wires":[["9f5860af.d57d4"]]},{"id":"9f5860af.d57d4","type":"split","z":"52f2656a.61247c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1610,"y":280,"wires":[["362f1b45.9f4714"]]},{"id":"7cbb4217.a0db0c","type":"switch","z":"29cf43c4.26adec","name":"Yes/No","property":"exists","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":280,"wires":[["7403b2ec.c6c45c"],["ac24189d.f354c8"]]},{"id":"966cc969.63ef48","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.league.name & ';' & msg.payload.event.name & ';' & msg.payload.event.date & ';' & msg.payload.odds[0].type & ';' & msg.payload.odds[0].expires_on & ';' &  msg.payload.odds[0].run_line & ';' & msg.payload.odds[0].opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":400,"wires":[[]]},{"id":"8a088a21.50a928","type":"function","z":"b7eb2a5f.2481a8","name":"Login","func":"'use strict';\n\nvar DEBUG=msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n    \nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    try{\n        const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n        const page = await browser.newPage();\n    \n        log(msg.website.name + ' -- Go to Website');\n        await page.goto('http://www.966sport.com/login/');\n\n        log(msg.website.name + ' -- Type the login information for website :' + JSON.stringify(msg.website.params));\n        await page.type('#form > div:nth-child(2) > div > input', msg.website.params.username);\n        await page.type('#form > div:nth-child(3) > div > input', msg.website.params.password);\n\n        await page.waitForSelector('#form > div:nth-child(4) > div > button',{timeout : 5000});\n\n        log(msg.website.name + ' -- Login')\n        await page.click('#form > div:nth-child(4) > div > button');\n        \n        log(msg.website.name + ' -- Wait till logged in')\n        await page.waitForSelector('.b-user.open-button.left',{timeout : 10000});\n        \n        log(msg.website.name + ' -- Logged In, saving cookies')\n        const cookies = await page.cookies()\n        const url = await page.evaluate(() => location.href);\n        \n        msg.session ={\n            cookies: cookies,\n            history: []\n        }\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        msg.topic = 'LOGIN_SUCCESS';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        \n        await browser.close();\n    }\n    catch(e){\n        \n        node.error(e);\n        \n        msg.topic = 'LOGIN_FAILED';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n    }\n})();","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["62fe0d24.d84414"]]},{"id":"62fe0d24.d84414","type":"switch","z":"b7eb2a5f.2481a8","name":"Login Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN_SUCCESS","vt":"str"},{"t":"eq","v":"LOGIN_FAILED","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":240,"wires":[[],[]]},{"id":"776d9b53.b4dba4","type":"change","z":"6ca7ba6a.fb6f14","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["8ddae01b.66ca2"]]},{"id":"8ddae01b.66ca2","type":"split","z":"6ca7ba6a.fb6f14","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":140,"wires":[["f312958f.97f068"]]},{"id":"f312958f.97f068","type":"change","z":"6ca7ba6a.fb6f14","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[["d7e13ed0.a2355"]]},{"id":"d7e13ed0.a2355","type":"switch","z":"6ca7ba6a.fb6f14","name":"Route by website","property":"website.name","propertyType":"msg","rules":[{"t":"eq","v":"1betpro.com","vt":"str"},{"t":"eq","v":"966sport.com--disabled","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":140,"wires":[[],[]]},{"id":"fb3d627c.b4bff","type":"change","z":"520d204a.6248b","name":"Set Game Page","rules":[{"t":"set","p":"page","pt":"msg","to":"{\t    \"url\": msg.website.url & msg.payload & '/game/',\t    \"waitFor\": msg.website.waitFor,\t    \"listenTo\": msg.website.listenTo,\t    \"website\":{\"name\": msg.website.name}\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"a65dba6.f920e48","type":"change","z":"bda9989.3a98068","name":"Set Page URL","rules":[{"t":"set","p":"page","pt":"msg","to":"{\t    \"url\": msg.website.url & msg.payload.url,\t    \"waitFor\": msg.payload.waitFor,\t    \"listenTo\": msg.payload.listenTo,\t    \"website\":{\"name\": msg.website.name}\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[[]]},{"id":"991eebed.cff178","type":"split","z":"dd2ff415.75e098","name":"For Each Response","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":220,"y":240,"wires":[["e8a57ae9.03ae98"]]},{"id":"e8a57ae9.03ae98","type":"switch","z":"dd2ff415.75e098","name":"Has Events?","property":"payload.events","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":240,"wires":[["e5ad796f.9c13f8"]]},{"id":"e5ad796f.9c13f8","type":"change","z":"dd2ff415.75e098","name":"Set Events","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.events","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[["ae59b11d.a5b89"]]},{"id":"ae59b11d.a5b89","type":"split","z":"dd2ff415.75e098","name":"For Each Event","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":740,"y":240,"wires":[["8fcfbf33.d6be8"]]},{"id":"115efd64.4d95b3","type":"function","z":"dd2ff415.75e098","name":"","func":"var DEBUG=true; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\ntry{\n    \n    const website= {\n        name: msg.website.name\n    };\n    \n    let odds = {\n        event: {\n            name: (msg.payload.home_team + ' vs ' + msg.payload.away_team).toLowerCase(),\n            date: '2018-' + msg.payload.date.split('<br>')[1].split('/')[1] + '-' + msg.payload.date.split('<br>')[1].split('/')[0] + ' ' + msg.payload.date.split('<br>')[0] + ':00' ,//'22:00<br>19/03<br>',\n            participants: [msg.payload.home_team.toLowerCase(),msg.payload.away_team.toLowerCase()],\n            score: '0 - 0',\n            minute: 0,\n            league: {\n                name: msg.temp.liga.toLowerCase()\n            },\n            sport: {\n                name: msg.temp.sport.toLowerCase()\n            }\n        }\n    }\n      \n    // 1x2\n    // Full Time \n    if(msg.payload.hasOwnProperty(\"FT_1X2_h\")){\n        try {\n            \n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_1X2_h').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_1X2_h.toString().trim()),\n                    run_line:           1,\n                    opponent:           1\n                }\n    \n        }\n        catch(e) {\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_1X2_a').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_1X2_a.toString().trim()),\n                    run_line:           1,\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_d\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_1X2_d').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_1X2_d.toString().trim()),\n                    run_line:           1,\n                    opponent:           0\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_1X2_h\")){\n        try{\n           odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_1X2_h').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_1X2_h.toString().trim()),\n                    run_line:           1,\n                    opponent:           1\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_1X2_a').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_1X2_a.toString().trim()),\n                    run_line:           1,\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_d\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_1X2_d').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_1X2_d.toString().trim()),\n                    run_line:           1,\n                    opponent:           0\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Handicap\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_HDP_h\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_HDP_h' + msg.payload.FT_HDP_h_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_HDP_h.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_HDP_h_op.toString().trim()),\n                    opponent:           1\n                }\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    } \n    \n    if(msg.payload.hasOwnProperty(\"FT_HDP_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_HDP_a' + msg.payload.FT_HDP_a_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_HDP_a.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_HDP_a_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_HDP_h\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_HDP_h' + msg.payload.FH_HDP_h_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_HDP_h.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_HDP_h_op.toString().trim()),\n                    opponent:           1\n                }\n        }\n        catch(e){\n            \n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_HDP_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_HDP_a' + msg.payload.FH_HDP_a_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_HDP_a.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_HDP_a_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_o\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_OU_o' + msg.payload.FT_OU_o_op).trim(),\n                    type:               \"Over\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_OU_o.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_OU_o_op.toString().trim()),\n                    opponent:           1\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_o\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_OU_o' + msg.payload.FH_OU_o_op).trim(),\n                    type:               \"Over\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_OU_o.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_OU_o_op.toString().trim()),\n                    opponent:           1\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    \n    // Under\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_u\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_OU_u' + msg.payload.FT_OU_u_op).trim(),\n                    type:               \"Under\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_OU_u.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_OU_u_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Under\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_u\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_OU_u' + msg.payload.FH_OU_u_op).trim(),\n                    type:               \"Under\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_OU_u.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_OU_u_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    msg.payload = Object.assign(event, odds);\n    \n    return msg;\n}\ncatch(e){\n    \n}","outputs":1,"noerr":0,"x":890,"y":160,"wires":[[]]},{"id":"54ac5ac5.ce4974","type":"change","z":"dd2ff415.75e098","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.league.name & ';' & msg.payload.event.name & ';' & msg.payload.event.date & ';' & msg.payload.odd.type & ';' & msg.payload.odd.expires_on & ';' &  msg.payload.odd.run_line & ';' & msg.payload.odd.opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":240,"wires":[[]]},{"id":"4c200cfb.9e86b4","type":"split","z":"dd2ff415.75e098","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1030,"y":240,"wires":[["54ac5ac5.ce4974"]]},{"id":"8fcfbf33.d6be8","type":"function","z":"dd2ff415.75e098","name":"","func":"var DEBUG=msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\ntry{\n    let odds = [];\n    \n    const website= {\n        name: msg.website.name\n    };\n    \n    const event= {\n            name: (msg.payload.home_team + ' vs ' + msg.payload.away_team).toLowerCase(),\n            date: '2018-' + msg.payload.date.split('<br>')[1].split('/')[1] + '-' + msg.payload.date.split('<br>')[1].split('/')[0] + ' ' + msg.payload.date.split('<br>')[0] + ':00' ,//'22:00<br>19/03<br>',\n            participants: [msg.payload.home_team.toLowerCase(),msg.payload.away_team.toLowerCase()],\n            score: '0 - 0',\n            minute: 0,\n            league: {\n                name: msg.temp.liga.toLowerCase()\n            },\n            sport: {\n                name: msg.temp.sport.toLowerCase()\n            }\n        };\n      \n    // 1x2\n    // Full Time \n    if(msg.payload.hasOwnProperty(\"FT_1X2_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_h').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_a').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n                \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_d\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  0,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_d').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_d.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_1X2_h\")){\n        try{\n            \n             let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_h').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n                \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_a').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_d\")){\n        try{\n            \n            odds.push({\n                event                       :  event,\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  0,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_d').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_d.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Handicap\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_HDP_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_HDP_h' + msg.payload.FT_HDP_h_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_HDP_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_HDP_h_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    } \n    \n    if(msg.payload.hasOwnProperty(\"FT_HDP_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_HDP_a' + msg.payload.FT_HDP_a_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_HDP_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_HDP_a_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_HDP_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_HDP_h' + msg.payload.FH_HDP_h_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_HDP_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_HDP_h_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            \n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_HDP_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_HDP_a' + msg.payload.FH_HDP_a_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_HDP_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_HDP_a_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_o\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Over\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_OU_o' + msg.payload.FT_OU_o_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_OU_o.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_OU_o_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_o\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Over\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_OU_o' + msg.payload.FH_OU_o_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_OU_o.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_OU_o_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    \n    // Under\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_u\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Under\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_OU_u' + msg.payload.FT_OU_u_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_OU_u.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_OU_u_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Under\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_u\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Under\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_OU_u' + msg.payload.FH_OU_u_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_OU_u.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_OU_u_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    msg.payload = odds;\n    \n    return msg;\n}\ncatch(e){\n    \n}","outputs":1,"noerr":0,"x":890,"y":240,"wires":[["4c200cfb.9e86b4"]]},{"id":"362f1b45.9f4714","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.league.name & ';' & msg.payload.event.name & ';' & msg.payload.event.date & ';' & msg.payload.odd.type & ';' & msg.payload.odd.expires_on & ';' &  msg.payload.odd.run_line & ';' & msg.payload.odd.opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":280,"wires":[[]]},{"id":"476c9431.c9e18c","type":"template","z":"29cf43c4.26adec","name":"Query","field":"query","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"query\": {\n    \"bool\": {\n      \"should\": [\n        { \"match\": { \"event.date\":  {\"query\": \"{{payload.event.date}}\"} }},\n        { \"match\": { \"odd.type\": {\"query\": \"{{payload.odd.type}}\"}}},\n        { \"match\": { \"odd.expires_on\": {\"query\": \"{{payload.odd.expires_on}}\"}}},\n        { \"match\": { \"odd.opponent\": {\"query\": \"{{payload.odd.opponent}}\"}}}\n      ]\n    }\n  }\n}","output":"str","x":910,"y":160,"wires":[["78dcc27.5dc073c"]]},{"id":"78dcc27.5dc073c","type":"es-search","z":"29cf43c4.26adec","name":"","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"43749542.37d54c","x":1130,"y":160,"wires":[[]]},{"id":"3bab49a3.43e396","type":"es-exists","z":"29cf43c4.26adec","name":"","documentId":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":490,"y":280,"wires":[["7cbb4217.a0db0c"]]},{"id":"7403b2ec.c6c45c","type":"es-create","z":"29cf43c4.26adec","name":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":930,"y":240,"wires":[["d0f85fd9.2da0d"]]},{"id":"ac24189d.f354c8","type":"es-update","z":"29cf43c4.26adec","name":"","documentId":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":930,"y":320,"wires":[["fa556f64.980fd"]]},{"id":"5a2577f1.d3f528","type":"rdkafka out","z":"92ceeb1e.d32f98","name":"Kafka","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1130,"y":160,"wires":[]},{"id":"38bd83a5.c6010c","type":"inject","z":"92ceeb1e.d32f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["16008cc7.a7e983"]]},{"id":"16008cc7.a7e983","type":"change","z":"92ceeb1e.d32f98","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":160,"wires":[["a2fd2c2c.4bebb"]]},{"id":"a2fd2c2c.4bebb","type":"split","z":"92ceeb1e.d32f98","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":160,"wires":[["6132cf1b.24cf2"]]},{"id":"bdd08f7.135687","type":"change","z":"92ceeb1e.d32f98","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":160,"wires":[["9b99c160.8c30c"]]},{"id":"503758a7.7eb268","type":"config","z":"92ceeb1e.d32f98","name":"data","properties":[{"p":"data","pt":"flow","to":"{\"debug\":true,\"websites\":[{\"name\":\"1betpro.com\",\"url\":\"https://1betpro.com/\",\"params\":{\"username\":\"Tal1234\",\"password\":\"1111\"},\"waitFor\":10000,\"listenTo\":[\"/ajax/\"],\"waitForSelector\":\"#logout_user\",\"pages\":[{\"url\":\"all/games/\",\"waitFor\":60000,\"listenTo\":[\"/ajax/\"]},{\"url\":\"/live/\",\"waitFor\":60000,\"listenTo\":[\"/ajax/\"]}]},{\"name\":\"966sport.com\",\"url\":\"http://966sport.com/\",\"params\":{\"username\":\"X222\",\"password\":\"12345\"},\"waitFor\":30000,\"listenTo\":[\"ajax_t_games\"],\"waitForSelector\":\".b-user.open-button.left\",\"pages\":[{\"url\":\"t_games?parm=EMyvDHrx3U4qVsrP%2BZ3e1GokOria%2BsQHIk%2BlX6LVy3mQcSbumzJVg9BM1YUxfLc%2FShx5BDz833LJWPMgA01ttA%3D%3D\",\"waitFor\":30000,\"listenTo\":[\"ajax_t_games\"]}]}]}","tot":"json"}],"active":true,"x":130,"y":40,"wires":[]},{"id":"9b99c160.8c30c","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"str","pretty":false,"x":930,"y":160,"wires":[["5a2577f1.d3f528"]]},{"id":"aae7b2d0.d6d16","type":"function","z":"29cf43c4.26adec","name":"Debug","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog('Checking if document ' + msg.documentId + ' already exists');\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["3bab49a3.43e396"]]},{"id":"fa556f64.980fd","type":"function","z":"29cf43c4.26adec","name":"Debug","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog('Updating document ' + msg.documentId);\n//log('msg = ' + JSON.stringify(msg));\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[[]]},{"id":"d0f85fd9.2da0d","type":"function","z":"29cf43c4.26adec","name":"Debug","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog('Creating document ' + msg.documentId);\n//log('msg = ' + JSON.stringify(msg));\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":240,"wires":[[]]},{"id":"6132cf1b.24cf2","type":"change","z":"92ceeb1e.d32f98","name":"Set Websites","rules":[{"t":"set","p":"payload.debug","pt":"msg","to":"data.debug","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["bdd08f7.135687"]]},{"id":"463f84ea.2a9dbc","type":"delay","z":"29cf43c4.26adec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":280,"wires":[["aae7b2d0.d6d16"]]},{"id":"93ecd431.8552b8","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":220,"wires":[]},{"id":"a2a014fd.7e5dc8","type":"function","z":"fd5c9c45.e7c55","name":"Set Message Complete","func":"\nif(msg.debug){\n    //process only one page\n    msg.complete = true;\n}\nelse if(msg.parts.index === msg.parts.count-1) msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["7fc302c0.bf813c"]]},{"id":"1a670346.3009dd","type":"debug","z":"8743a80b.8df4a8","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":140,"wires":[]},{"id":"c6b65b90.517078","type":"debug","z":"8743a80b.8df4a8","name":"post-save","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":620,"wires":[]},{"id":"aef8696a.c3d518","type":"subflow:d94fb931.bab888","z":"8743a80b.8df4a8","name":"1Betpro Session","x":640,"y":100,"wires":[["e0468c80.76c89"],["1a670346.3009dd"]]},{"id":"ecc48294.72c6d","type":"subflow:faf2e075.8588c","z":"8743a80b.8df4a8","name":"","x":1090,"y":60,"wires":[["bde057a.8324ea8"]]},{"id":"e0468c80.76c89","type":"subflow:bda9989.3a98068","z":"8743a80b.8df4a8","name":"","x":880,"y":60,"wires":[["ecc48294.72c6d"]]},{"id":"da4451f9.ec3a8","type":"subflow:faf2e075.8588c","z":"8743a80b.8df4a8","name":"","x":670,"y":380,"wires":[["b00f9f89.b9aa2"]]},{"id":"d25d20dd.df1aa","type":"subflow:29cf43c4.26adec","z":"8743a80b.8df4a8","name":"","x":680,"y":660,"wires":[["c6b65b90.517078"],["c6b65b90.517078"],["984bfea6.02a88"]]},{"id":"b00f9f89.b9aa2","type":"subflow:52f2656a.61247c","z":"8743a80b.8df4a8","name":"","x":920,"y":380,"wires":[["daba83e2.a0a67"]]},{"id":"ad667dba.841bf","type":"subflow:fd5c9c45.e7c55","z":"8743a80b.8df4a8","name":"","x":1430,"y":60,"wires":[["2b0bce2.f6a3c32"]]},{"id":"bde057a.8324ea8","type":"subflow:8d7750f6.a91db","z":"8743a80b.8df4a8","name":"","x":1280,"y":60,"wires":[["ad667dba.841bf"]]},{"id":"2b0bce2.f6a3c32","type":"subflow:520d204a.6248b","z":"8743a80b.8df4a8","name":"","x":1600,"y":60,"wires":[["6d6c6fe7.63503"]]},{"id":"99be59cc.d18908","type":"subflow:b7eb2a5f.2481a8","z":"8743a80b.8df4a8","name":"","x":660,"y":220,"wires":[["2c025b11.14d614"],["7ebfe323.be1cbc"]]},{"id":"2c025b11.14d614","type":"subflow:bda9989.3a98068","z":"8743a80b.8df4a8","name":"","x":880,"y":200,"wires":[["dfbf3a8e.607b78"]]},{"id":"2ea0a01a.5527b","type":"subflow:faf2e075.8588c","z":"8743a80b.8df4a8","name":"","x":670,"y":500,"wires":[["890c25ee.3fc458"]]},{"id":"7ebfe323.be1cbc","type":"debug","z":"8743a80b.8df4a8","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":260,"wires":[]},{"id":"890c25ee.3fc458","type":"subflow:dd2ff415.75e098","z":"8743a80b.8df4a8","name":"","x":910,"y":500,"wires":[["daba83e2.a0a67"]]},{"id":"61e75469.67985c","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"1betpro.com","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":90,"y":100,"wires":[["7c838a24.482374"]]},{"id":"7c838a24.482374","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":100,"wires":[["ee1cb025.b817f"]]},{"id":"42cbd04f.988d3","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"966sport.com","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":90,"y":220,"wires":[["f4cdfb46.0f45a8"]]},{"id":"f4cdfb46.0f45a8","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":220,"wires":[["2a15e575.1327aa"]]},{"id":"2a15e575.1327aa","type":"change","z":"8743a80b.8df4a8","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["99be59cc.d18908"]]},{"id":"ee1cb025.b817f","type":"change","z":"8743a80b.8df4a8","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"debug","pt":"msg","to":"payload.debug","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":100,"wires":[["aef8696a.c3d518"]]},{"id":"1b09d649.4fe50a","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"save-document","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":100,"y":660,"wires":[["5043c415.64fa3c"]]},{"id":"5043c415.64fa3c","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":660,"wires":[["966b4db1.3226a"]]},{"id":"966b4db1.3226a","type":"function","z":"8743a80b.8df4a8","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":660,"wires":[["d25d20dd.df1aa"]]},{"id":"daba83e2.a0a67","type":"function","z":"8743a80b.8df4a8","name":"Stringify Message","func":"\nmsg = {\n    documentIndex: msg.documentIndex,\n    documentType: msg.documentType,\n    documentId: msg.documentId,\n    payload: msg.payload,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = \"save-document\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":440,"wires":[["4d676fc3.6107"]]},{"id":"4d676fc3.6107","type":"rdkafka out","z":"8743a80b.8df4a8","name":"save-document","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1440,"y":440,"wires":[]},{"id":"984bfea6.02a88","type":"debug","z":"8743a80b.8df4a8","name":"query result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":900,"y":700,"wires":[]},{"id":"e493b228.6107e","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"1betpro.com-page","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":110,"y":380,"wires":[["576e542.a0249ac"]]},{"id":"576e542.a0249ac","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":380,"wires":[["31a970fb.0c91e"]]},{"id":"3921d834.1ad6f8","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"966sport.com-page","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":110,"y":500,"wires":[["76a6463.25af8b8"]]},{"id":"76a6463.25af8b8","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":500,"wires":[["21cb294b.0ae886"]]},{"id":"dfbf3a8e.607b78","type":"function","z":"8743a80b.8df4a8","name":"Stringify Page Message","func":"\nmsg = {\n    page: msg.page,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.page.website.name + \"-page\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":200,"wires":[["61329571.fc4cac"]]},{"id":"61329571.fc4cac","type":"rdkafka out","z":"8743a80b.8df4a8","name":"website-page","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1300,"y":200,"wires":[]},{"id":"6d6c6fe7.63503","type":"function","z":"8743a80b.8df4a8","name":"Stringify Page Message","func":"\nmsg = {\n    page: msg.page,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.page.website.name + \"-page\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":60,"wires":[["5096972.4c81668"]]},{"id":"5096972.4c81668","type":"rdkafka out","z":"8743a80b.8df4a8","name":"website-page","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":2020,"y":60,"wires":[]},{"id":"21cb294b.0ae886","type":"function","z":"8743a80b.8df4a8","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["2ea0a01a.5527b"]]},{"id":"31a970fb.0c91e","type":"function","z":"8743a80b.8df4a8","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["da4451f9.ec3a8"]]},{"id":"e3469726.e5a158","type":"debug","z":"8743a80b.8df4a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":300,"y":780,"wires":[]},{"id":"381db56c.455d5a","type":"debug","z":"65f44ef2.bdfa2","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":200,"wires":[]},{"id":"53e07ad.13b2184","type":"subflow:d94fb931.bab888","z":"65f44ef2.bdfa2","name":"1Betpro Session","x":720,"y":160,"wires":[["ca6a9a0.7a5c168"],["381db56c.455d5a"]]},{"id":"22abeb2a.0e0004","type":"subflow:faf2e075.8588c","z":"65f44ef2.bdfa2","name":"","x":1170,"y":120,"wires":[["ac9f54d5.445b08"]]},{"id":"ca6a9a0.7a5c168","type":"subflow:bda9989.3a98068","z":"65f44ef2.bdfa2","name":"","x":960,"y":120,"wires":[["22abeb2a.0e0004"]]},{"id":"e69a61f6.cc4d9","type":"subflow:fd5c9c45.e7c55","z":"65f44ef2.bdfa2","name":"","x":1510,"y":120,"wires":[["13cbb496.cdc6fb"]]},{"id":"ac9f54d5.445b08","type":"subflow:8d7750f6.a91db","z":"65f44ef2.bdfa2","name":"","x":1360,"y":120,"wires":[["e69a61f6.cc4d9"]]},{"id":"13cbb496.cdc6fb","type":"subflow:520d204a.6248b","z":"65f44ef2.bdfa2","name":"","x":1680,"y":120,"wires":[["c8f81e7e.ed876"]]},{"id":"65a32ff6.a3e4a","type":"rdkafka in","z":"65f44ef2.bdfa2","name":"","topic":"1betpro.com","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":170,"y":160,"wires":[["8fb80c78.ec1b3"]]},{"id":"8fb80c78.ec1b3","type":"json","z":"65f44ef2.bdfa2","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":160,"wires":[["30f03c36.905b44"]]},{"id":"30f03c36.905b44","type":"change","z":"65f44ef2.bdfa2","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"debug","pt":"msg","to":"payload.debug","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["53e07ad.13b2184"]]},{"id":"c8f81e7e.ed876","type":"function","z":"65f44ef2.bdfa2","name":"Stringify Page Message","func":"\nmsg = {\n    page: msg.page,\n    session: msg.session,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.page.website.name + \"-page\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":120,"wires":[["59742788.1983f8"]]},{"id":"59742788.1983f8","type":"rdkafka out","z":"65f44ef2.bdfa2","name":"website-page","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":2100,"y":120,"wires":[]},{"id":"9793470c.a14988","type":"subflow:b7eb2a5f.2481a8","z":"f641612c.279ef","name":"","x":680,"y":140,"wires":[["db5e7989.669d28"],["241086a9.d15e2a"]]},{"id":"db5e7989.669d28","type":"subflow:bda9989.3a98068","z":"f641612c.279ef","name":"","x":900,"y":120,"wires":[["c9bce19e.598dc"]]},{"id":"1582581.a17f7a8","type":"rdkafka in","z":"f641612c.279ef","name":"","topic":"966sport.com","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":110,"y":140,"wires":[["6df36c0.5524b94"]]},{"id":"6df36c0.5524b94","type":"json","z":"f641612c.279ef","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":140,"wires":[["a050553f.bd6698"]]},{"id":"a050553f.bd6698","type":"change","z":"f641612c.279ef","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["9793470c.a14988"]]},{"id":"c9bce19e.598dc","type":"function","z":"f641612c.279ef","name":"Stringify Page Message","func":"\nmsg = {\n    page: msg.page,\n    session: msg.session,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.page.website.name + \"-page\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["9d797b28.316e18"]]},{"id":"9d797b28.316e18","type":"rdkafka out","z":"f641612c.279ef","name":"website-page","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1320,"y":120,"wires":[]},{"id":"241086a9.d15e2a","type":"debug","z":"f641612c.279ef","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":180,"wires":[]},{"id":"e0c54d66.95f42","type":"subflow:faf2e075.8588c","z":"b8284098.78adc","name":"","x":690,"y":80,"wires":[["3f33c939.b12c96"]]},{"id":"3f33c939.b12c96","type":"subflow:52f2656a.61247c","z":"b8284098.78adc","name":"","x":940,"y":80,"wires":[["9ab37588.46ecd8"]]},{"id":"9ab37588.46ecd8","type":"function","z":"b8284098.78adc","name":"Stringify Message","func":"\nmsg = {\n    documentIndex: msg.documentIndex,\n    documentType: msg.documentType,\n    documentId: msg.documentId,\n    payload: msg.payload,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = \"save-document\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":80,"wires":[["ebfeca9a.e65b88"]]},{"id":"ebfeca9a.e65b88","type":"rdkafka out","z":"b8284098.78adc","name":"save-document","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1360,"y":80,"wires":[]},{"id":"17e77d97.db2192","type":"rdkafka in","z":"b8284098.78adc","name":"","topic":"1betpro.com-page","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":130,"y":80,"wires":[["f5ebd694.2904b8"]]},{"id":"f5ebd694.2904b8","type":"json","z":"b8284098.78adc","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":80,"wires":[["c87e4e47.967ba"]]},{"id":"c87e4e47.967ba","type":"function","z":"b8284098.78adc","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["e0c54d66.95f42"]]},{"id":"7af8eac4.748494","type":"subflow:faf2e075.8588c","z":"55b69a4f.0d6a04","name":"","x":690,"y":140,"wires":[["81609f3d.5433c"]]},{"id":"81609f3d.5433c","type":"subflow:dd2ff415.75e098","z":"55b69a4f.0d6a04","name":"","x":930,"y":140,"wires":[["2aca93b5.92c79c"]]},{"id":"2aca93b5.92c79c","type":"function","z":"55b69a4f.0d6a04","name":"Stringify Message","func":"\nmsg = {\n    documentIndex: msg.documentIndex,\n    documentType: msg.documentType,\n    documentId: msg.documentId,\n    payload: msg.payload,\n    debug: msg.debug\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = \"save-document\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":80,"wires":[["6a6d7c85.4c1404"]]},{"id":"6a6d7c85.4c1404","type":"rdkafka out","z":"55b69a4f.0d6a04","name":"save-document","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1460,"y":80,"wires":[]},{"id":"d4144351.f862","type":"rdkafka in","z":"55b69a4f.0d6a04","name":"","topic":"966sport.com-page","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":130,"y":140,"wires":[["5ae721ac.7f7a"]]},{"id":"5ae721ac.7f7a","type":"json","z":"55b69a4f.0d6a04","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":140,"wires":[["c4e5b278.fd47c"]]},{"id":"c4e5b278.fd47c","type":"function","z":"55b69a4f.0d6a04","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["7af8eac4.748494"]]},{"id":"f24a76ef.1a00e8","type":"debug","z":"89367071.1a484","name":"post-save","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":940,"y":80,"wires":[]},{"id":"50741721.2724c8","type":"subflow:29cf43c4.26adec","z":"89367071.1a484","name":"","x":740,"y":120,"wires":[["f24a76ef.1a00e8"],["f24a76ef.1a00e8"],["1ddc9c5.4d49964"]]},{"id":"4e33f7ec.217e38","type":"rdkafka in","z":"89367071.1a484","name":"","topic":"save-document","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":160,"y":120,"wires":[["5ca1a8c7.e98318"]]},{"id":"5ca1a8c7.e98318","type":"json","z":"89367071.1a484","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":120,"wires":[["3f78a6a1.889f6a"]]},{"id":"3f78a6a1.889f6a","type":"function","z":"89367071.1a484","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["50741721.2724c8"]]},{"id":"1ddc9c5.4d49964","type":"debug","z":"89367071.1a484","name":"query result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":960,"y":160,"wires":[]}]