.flows.json.backup
[{"id":"5e038606.189078","type":"tab","label":"Home","disabled":true,"info":""},{"id":"8743a80b.8df4a8","type":"tab","label":"Albert Worker","disabled":true,"info":""},{"id":"92ceeb1e.d32f98","type":"tab","label":"Albert Master","disabled":false,"info":""},{"id":"d94fb931.bab888","type":"subflow","name":"1Betpro.com Session","info":"","in":[{"x":300,"y":280,"wires":[{"id":"f33e6a44.9207c8"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"4dd018a2.9703c8","port":0}]},{"x":740,"y":300,"wires":[{"id":"4dd018a2.9703c8","port":1}]}]},{"id":"6ca7ba6a.fb6f14","type":"subflow","name":"Bot Starter","info":"","in":[{"x":40,"y":140,"wires":[{"id":"776d9b53.b4dba4"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"d7e13ed0.a2355","port":0}]}]},{"id":"faf2e075.8588c","type":"subflow","name":"Land and listen to events","info":"","in":[{"x":680,"y":320,"wires":[{"id":"3c5b23c9.6f8d1c"}]}],"out":[{"x":1200,"y":320,"wires":[{"id":"ca4ed912.eec118","port":0}]}]},{"id":"bda9989.3a98068","type":"subflow","name":"For Each Page","info":"","in":[{"x":400,"y":160,"wires":[{"id":"1528693d.0811d7"}]}],"out":[{"x":1060,"y":160,"wires":[{"id":"a65dba6.f920e48","port":0}]}]},{"id":"29cf43c4.26adec","type":"subflow","name":"Elasticsearch Merge","info":"","in":[{"x":60,"y":280,"wires":[{"id":"463f84ea.2a9dbc"}]}],"out":[{"x":1220,"y":240,"wires":[{"id":"7403b2ec.c6c45c","port":0}]},{"x":1220,"y":320,"wires":[{"id":"ac24189d.f354c8","port":0}]}]},{"id":"52f2656a.61247c","type":"subflow","name":"1Betpro.com Line Transform","info":"","in":[{"x":20,"y":280,"wires":[{"id":"9edd3745.df21f8"}]}],"out":[{"x":1920,"y":280,"wires":[{"id":"362f1b45.9f4714","port":0}]}]},{"id":"fd5c9c45.e7c55","type":"subflow","name":"List Games","info":"","in":[{"x":300,"y":200,"wires":[{"id":"5c4c5c17.9aa634"}]}],"out":[{"x":1100,"y":200,"wires":[{"id":"b21561f3.7e35a","port":0}]}]},{"id":"8d7750f6.a91db","type":"subflow","name":"List Lines","info":"","in":[{"x":380,"y":240,"wires":[{"id":"8271efd5.73b9"}]}],"out":[{"x":980,"y":240,"wires":[{"id":"de22efe5.6e2f4","port":0}]}]},{"id":"520d204a.6248b","type":"subflow","name":"For Each Game","info":"","in":[{"x":500,"y":220,"wires":[{"id":"e842ceac.82bd7"}]}],"out":[{"x":1180,"y":220,"wires":[{"id":"fb3d627c.b4bff","port":0}]}]},{"id":"b7eb2a5f.2481a8","type":"subflow","name":"966Sport.com Session","info":"","in":[{"x":460,"y":240,"wires":[{"id":"8a088a21.50a928"}]}],"out":[{"x":880,"y":220,"wires":[{"id":"62fe0d24.d84414","port":0}]},{"x":880,"y":260,"wires":[{"id":"62fe0d24.d84414","port":1}]}]},{"id":"dd2ff415.75e098","type":"subflow","name":"966Sport Line Transform","info":"","in":[{"x":40,"y":240,"wires":[{"id":"991eebed.cff178"}]}],"out":[{"x":1320,"y":240,"wires":[{"id":"54ac5ac5.ce4974","port":0}]}]},{"id":"363f279c.1671a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"8f853068.0d7cf","type":"google-credentials-youtube","z":"","displayName":"Avi Gershon"},{"id":"c21e0590.e618e8","type":"google-config","z":""},{"id":"fc09f44f.92f2b8","type":"google-conn","z":"","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"datagram-195019\",\n  \"private_key_id\": \"8ec249401542e722a4eb8a76df15c83d3df4553e\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDDKThvOjzrbL5m\\nF4ZdzqHFZAlhWyy/7Tr1mcLLo1efsXBbtInKgb+yCAk02zORKbYNNUU6dMPbJRIs\\ngYAyqsXVhlU9o/F4/oUIyPpiP2sWU/sRLHao4eyhndlo5lgYbmPOU9/tLIJTuKTR\\nH7j122JcCaX8suGuFlRvYeeH4LOCl9BHCHw1b2xj4oKv63UM3qtl0jIUDV6z+NaA\\nBNDDmP7igWZQoPoIvgRTVTFfq9GvhP0DD17cHFe1h7tcv1HkGImrgqmSx349MRaH\\nooU99WQD5hYzhNTls2IznIAppP1bDF7+5Ww1/DRGmt+13W42kV8Pg1VBWAGcZbim\\ngvvSzBDlAgMBAAECggEAANjidlUl442+y9mpSyn0+NLk2YfYS2L/wQYwWsr0O+y8\\nxKElgfwLNX4kcBbNhAFO2YLUMJtGKGLiT9AmGtIz9qfVIeXey/wq3q1krN2CnP+z\\nVNFBGJ2WdeMmCPcLBdwg0cn6bGCnli50hLXjCyovJKAkGNM7+JH/PtaJd0UJ8nSt\\nUVZb/Mfy/IZAEkirlQAZR4wQNBSCEYm8f+T8MVyVtUbniFCrCQza5aDvXMF/2K6w\\nSdzsrui6AFhkZEBBdgSaMUvL8MV/ScSkX6+R4x8ctWMYs1HpZ/cQI5TINurX5Ezb\\nf/YOzRuxha0YY86N14y+zJWNEHx8I8wCZhH94Yaf4QKBgQDk7ZUGAY7xFclqNDW1\\njQR27j+6YXxkPTyTWOhaT2qJqIm5L+z2YsFbIZR9ADJyfFkbJWaBfvX9p89kpNBI\\nLT48ah/iGEsuDfgbFKSvh7qvspyfaoghLwFF7ZTbYgrOxhsI44XIx/v2YAhQcjhN\\nPp9yaYVanxdLaZ/Cr+8dV5FsMQKBgQDaPWWsENc+JAsP53iuP81bBzxPE46YV2rL\\nW8PAYJXf+uDm+AfVHGmWUAxMRYDtqJEjga+SYNSMYQy1hWk5KJ+frkY4y4abh+sF\\nDVyzWKXvtOSa2m7GuIXs5yte3SVgZJPvPYPYXrVwaH3N49073qvfwR8jitAexjXQ\\nGVHGnsRm9QKBgFaYH+SztjQvf46yzRYtj2DFYknIEluAZmd+G/X9UFld7SqlnEbe\\nuDEWlKpr5qkzrCj+jrWxJq+aSHLTfQ2wP3hu1Dyb3+Q92Hm1502WU+Gd+Gy8yV10\\nAFFJOyN5BImOmi9UkQiPzRk23i4/5lghtgJ7M7xBrXgTLiFgl1xMAXAhAoGBAMM/\\n1NupQXjl9EOpWm3CxS3gflNc8uFWrEP9+Fb/0nbN1DKvywod3lVNjoMaV6vIePlk\\nSDjUirSBC0bHcgliT9UjrM2ZQPebFWeyubH26JZZp4DnVd5SLfdyJno7rfncYgHT\\nbkbBDODhi1QNvduXbvvDouFAisxNls10KZZiauKVAoGBANmtPGK/dwoj4Is84nfw\\noGwYJTbbBbNmGN4PHiA4a0ugcRm6jb8HOoivMTw0Eaej2K6UoZ3SCMl3Riu+iZiH\\n8GMHjcvuqViGjDMxW02ejx3cp/3QCVsSAxbh/YtXgF8wnVUHOsVJnOYfSlKOpUfV\\nFxiq7UVHY8hAL1Of+n1ixPAs\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"api-service-account@datagram-195019.iam.gserviceaccount.com\",\n  \"client_id\": \"103865220578077617827\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://accounts.google.com/o/oauth2/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/api-service-account%40datagram-195019.iam.gserviceaccount.com\"\n}","scopes":"https://www.googleapis.com/auth/youtube\nhttps://www.googleapis.com/auth/youtube.force-ssl\nhttps://www.googleapis.com/auth/youtube.readonly\nhttps://www.googleapis.com/auth/youtube.upload\nhttps://www.googleapis.com/auth/youtubepartner\nhttps://www.googleapis.com/auth/youtubepartner-channel-audit"},{"id":"43749542.37d54c","type":"remote-server","z":"","name":"elastic","host":"http://elasticsearch.default.svc.cluster.local:9200"},{"id":"c0e67585.074708","type":"kafka-broker","z":"","broker":"kafka-kafka.default.svc.cluster.local:9092","clientid":""},{"id":"3bffe9c0.a0e006","type":"http request","z":"5e038606.189078","name":"","method":"use","ret":"txt","url":"","tls":"363f279c.1671a8","x":970,"y":160,"wires":[["64072e04.06735"]]},{"id":"1aaf84ff.448a0b","type":"function","z":"5e038606.189078","name":"List Clips","func":"msg.headers = {\n        'Cookie': '_ga=GA1.2.1758159844.1516371953; eu_cookie_accepted=1; n=eyJoYXMiOnsiNzUwMTUwNSI6eyJzdHIiOjF9fSwiaWRzIjpbIjc1MDE1MDUiXX0%3D; eu_compliance=3; viewer-volume=0.97; cztoken=b.7501505.rqaTHJgH5M87Fp0qHEOpBZdem7HAaIHQ5e1stKHzR9stSw4JWGGmKRqnl7ZMoRsHZNnnoqgFZrsgEPzXB2eCkGFHIk9KG2klb6OPTsMcapkINrrFx8D34ssQkdSozVI4WS5g4fiMpxIXlyNZ; website_2=31b2b621f1da4da9bf12e0ce0bf04a96e33dfac5bfad5c4b4f2bee357b5819c0055d097e; _gid=GA1.2.427877016.1520594974; _gat_UA-19609914-2=1',\n        //'Accept-Encoding' : 'gzip, deflate, br',\n        'Accept-Language': \"en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36\",\n        'Accept': 'application/json, text/javascript, */*; q=0.01',\n        'Referer': 'https://home.nest.com/',\n        'X-Requested-With': 'XMLHttpRequest' ,\n        'Connection': 'keep-alive'\n    };\n    \nmsg.url = 'https://home.nest.com/dropcam/api/visible_clips?_=' + msg.timestamp;\nmsg.method = 'GET';\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["3bffe9c0.a0e006"]]},{"id":"d7f5e1a5.24283","type":"debug","z":"5e038606.189078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1750,"y":400,"wires":[]},{"id":"64072e04.06735","type":"json","z":"5e038606.189078","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":160,"wires":[["241de08f.638c7"]]},{"id":"241de08f.638c7","type":"change","z":"5e038606.189078","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].clips","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":220,"wires":[["92e70c37.1cf6a","283c192e.96aa36"]]},{"id":"283c192e.96aa36","type":"split","z":"5e038606.189078","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1450,"y":280,"wires":[["1d138d23.bad103"]]},{"id":"db94937f.1ba2d","type":"youtube-upload","z":"5e038606.189078","google":"8f853068.0d7cf","name":"","title":"payload.title","titleType":"msg","description":"payload.description","descriptionType":"msg","privacyStatus":"private","mediapath":"mediapath","mediapathType":"msg","x":1500,"y":400,"wires":[["d7f5e1a5.24283"]]},{"id":"61428a7a.dd0224","type":"http in","z":"5e038606.189078","name":"","url":"google-credentials-youtube/auth/callback","method":"get","upload":false,"swaggerDoc":"","x":510,"y":620,"wires":[["980eba9e.9c6188"]]},{"id":"980eba9e.9c6188","type":"http response","z":"5e038606.189078","name":"","statusCode":"","headers":{},"x":900,"y":620,"wires":[]},{"id":"ae71e6c9.b15598","type":"http request","z":"5e038606.189078","name":"","method":"GET","ret":"bin","url":"","tls":"","x":1990,"y":240,"wires":[["d87c638b.9ca78"]]},{"id":"42456c3d.4c7ee4","type":"change","z":"5e038606.189078","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.download_url","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"$join([\"/data/cameras/\" ,$string(msg.payload.camera_uuid), \"/clips/\" ,$string(msg.payload.filename)], \"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":240,"wires":[["ae71e6c9.b15598"]]},{"id":"d87c638b.9ca78","type":"file","z":"5e038606.189078","name":"Video","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":2190,"y":240,"wires":[]},{"id":"181e8f45.7a5621","type":"file","z":"5e038606.189078","name":"Clip","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":2190,"y":320,"wires":[]},{"id":"8cae5d7e.d5284","type":"change","z":"5e038606.189078","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join([\"/data/cameras/\" ,$string(msg.payload.camera_uuid), \"/clips/\" ,$string(msg.payload.filename), \".info\"], \"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":320,"wires":[["181e8f45.7a5621"]]},{"id":"f16a76ee.e54928","type":"watch","z":"5e038606.189078","name":"Cameras","files":"/data/cameras","recursive":true,"x":130,"y":400,"wires":[["918dca80.cf5f28"]]},{"id":"918dca80.cf5f28","type":"split","z":"5e038606.189078","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":300,"y":400,"wires":[["576d357c.37831c"]]},{"id":"576d357c.37831c","type":"switch","z":"5e038606.189078","name":"match","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^.*\\.(mp4)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":400,"wires":[["b4e714f9.f755f8"]]},{"id":"6e279121.1996f","type":"file in","z":"5e038606.189078","name":"Info","filename":"","format":"utf8","chunk":false,"sendError":false,"x":820,"y":400,"wires":[["77d10325.217a0c"]]},{"id":"b4e714f9.f755f8","type":"change","z":"5e038606.189078","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join([$string(msg.payload), \".info\"], \"\")","tot":"jsonata"},{"t":"set","p":"mediapath","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":400,"wires":[["6e279121.1996f"]]},{"id":"77d10325.217a0c","type":"json","z":"5e038606.189078","name":"","property":"payload","action":"","pretty":false,"x":960,"y":400,"wires":[["9999efc6.93ed1"]]},{"id":"9999efc6.93ed1","type":"switch","z":"5e038606.189078","name":"","property":"payload.title","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":400,"wires":[["db94937f.1ba2d","2118c2b6.c133fe"]]},{"id":"57e02e68.34a8e","type":"inject","z":"5e038606.189078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":720,"wires":[["cf17b177.ea423"]]},{"id":"d35c5b3e.a8b738","type":"debug","z":"5e038606.189078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":720,"wires":[]},{"id":"110664b3.d7891b","type":"inject","z":"5e038606.189078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["e6a09ac1.e64b78"]]},{"id":"94fe85f2.91a338","type":"function","z":"5e038606.189078","name":"Create Clip","func":"msg.headers = {\n        'Cookie': '_ga=GA1.2.1758159844.1516371953; eu_cookie_accepted=1; n=eyJoYXMiOnsiNzUwMTUwNSI6eyJzdHIiOjF9fSwiaWRzIjpbIjc1MDE1MDUiXX0%3D; eu_compliance=3; viewer-volume=0.97; cztoken=b.7501505.rqaTHJgH5M87Fp0qHEOpBZdem7HAaIHQ5e1stKHzR9stSw4JWGGmKRqnl7ZMoRsHZNnnoqgFZrsgEPzXB2eCkGFHIk9KG2klb6OPTsMcapkINrrFx8D34ssQkdSozVI4WS5g4fiMpxIXlyNZ; website_2=31b2b621f1da4da9bf12e0ce0bf04a96e33dfac5bfad5c4b4f2bee357b5819c0055d097e; _gid=GA1.2.427877016.1520594974; _gat_UA-19609914-2=1',\n        //'Accept-Encoding' : 'gzip, deflate, br',\n        'Accept-Language': \"en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36\",\n        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',\n        'Referer': 'https://home.nest.com/',\n        'X-Requested-With': 'XMLHttpRequest' ,\n        'Connection': 'keep-alive',\n        'Accept': '*/*'\n    };\n\nmsg.url = 'https://webapi.camera.home.nest.com/api/clips.request';\nmsg.method = 'POST';\nmsg.payload = {\n        'uuid': msg.request.uuid,\n        'title': msg.request.where + \"_\" + (msg.timestamp - (msg.timestamp % 3600)),\n        'start_date': msg.timestamp - (msg.timestamp % 3600),\n        'is_public':false,\n        'length': msg.request.interval,\n        'target_length': false\n};\n\nfunction serialize( obj ) {\n  return Object.keys(obj).reduce(function(a,k){a.push(k+'='+encodeURIComponent(obj[k]));return a},[]).join('&')\n}\n\n//msg.payload = 'uuid=ae89b93cd81b433d878c7bc4c38eb606&title=KidsRoomTest&start_date=1520175600.000&is_public=false&length=3600&target_length=false';\n\nmsg.payload = serialize(msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1790,"y":140,"wires":[["1d710e0a.6654d2"]]},{"id":"92e70c37.1cf6a","type":"function","z":"5e038606.189078","name":"Clip exists?","func":"msg.topic = (msg.payload.filter( clip => {\n    clip.start_time===(msg.timestamp - (msg.timestamp % msg.request.interval)) && clip.camera.uuid === msg.request.uuid\n}).length===0) ? \"CREATE_CLIP\" : \"CLIP_EXISTS\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":100,"wires":[["6ae25ca7.54fb44"]]},{"id":"1d138d23.bad103","type":"switch","z":"5e038606.189078","name":"","property":"payload.length_in_seconds","propertyType":"msg","rules":[{"t":"gt","v":"3550","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":280,"wires":[["42456c3d.4c7ee4","8cae5d7e.d5284"]]},{"id":"6ae25ca7.54fb44","type":"switch","z":"5e038606.189078","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"CLIP_EXISTS","vt":"str"},{"t":"eq","v":"CREATE_CLIP","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":100,"wires":[["fd460d53.b2271"],["94fe85f2.91a338"]]},{"id":"fd460d53.b2271","type":"debug","z":"5e038606.189078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":60,"wires":[]},{"id":"f24ccde6.c456c","type":"debug","z":"5e038606.189078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2190,"y":140,"wires":[]},{"id":"269b785.400b188","type":"http request","z":"5e038606.189078","name":"","method":"use","ret":"txt","url":"","tls":"363f279c.1671a8","x":1990,"y":140,"wires":[["f24ccde6.c456c"]]},{"id":"e6a09ac1.e64b78","type":"function","z":"5e038606.189078","name":"Set variables","func":"function roundMinutes(date) {\n\n    date.setHours((date.getHours() + 2));\n    date.setMinutes(0);\n    date.setSeconds(0);\n    date.setMilliseconds(0);\n    \n    return date;\n}\n\nmsg.timestamp = msg.payload;\nmsg.rounded_timestamp = roundMinutes(new Date(msg.timestamp)).toISOString().replace(\"T\",\" \").replace(\".000Z\",\"\");\n\nmsg.payload = [{\n        uuid : 'ae89b93cd81b433d878c7bc4c38eb606',\n        where : \"Itai's Room\"\n    },{\n        uuid: '436169d9795b4b9c996f42f077993992',\n        where: 'Living Room'\n    }];\n\nmsg.payload.map(camera => {\n    camera.clip_title = camera.where.replace(\" \",\"\") + \" \" + msg.rounded_timestamp;//new Date(msg.rounded_timestamp + camera.timezone * 60000).toISOString().replace(\"T\",\" \").replace(\".000Z\",\"\")\n })\n \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["8fb1ffa3.df90f"]]},{"id":"8fb1ffa3.df90f","type":"split","z":"5e038606.189078","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":160,"wires":[["1ed8247b.45570c"]]},{"id":"1d710e0a.6654d2","type":"debug","z":"5e038606.189078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":60,"wires":[]},{"id":"2118c2b6.c133fe","type":"debug","z":"5e038606.189078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":500,"wires":[]},{"id":"cf17b177.ea423","type":"YouTube PlayLists","z":"5e038606.189078","config":"c21e0590.e618e8","part":"snippet","channelId":"","playlistId":"","mine":"true","maxResults":5,"onBehalfOfContentOwner":"","onBehalfOfContentOwnerChannel":"","pageToken":"","name":"","x":630,"y":720,"wires":[["d35c5b3e.a8b738"]]},{"id":"4e34f9a0.a41798","type":"google","z":"5e038606.189078","name":"YouTube Search","google":"fc09f44f.92f2b8","api":"youtube:v3","operation":"search.list","x":1010,"y":280,"wires":[["dfec82.dff3338"]]},{"id":"cb018197.67a78","type":"inject","z":"5e038606.189078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[[]]},{"id":"dfec82.dff3338","type":"debug","z":"5e038606.189078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":280,"wires":[]},{"id":"1ed8247b.45570c","type":"change","z":"5e038606.189078","name":"","rules":[{"t":"set","p":"nest","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"youtube.maxResults","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"youtube.part","pt":"msg","to":"snippet","tot":"str"},{"t":"set","p":"youtube.type","pt":"msg","to":"video","tot":"str"},{"t":"set","p":"youtube.forMine","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"youtube.q","pt":"msg","to":"payload.clip_title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[["1aaf84ff.448a0b","64c3292.bfa15d8"]]},{"id":"9e5805ce.3e1638","type":"comment","z":"5e038606.189078","name":"Get List of Available Nest Clips","info":"","x":970,"y":100,"wires":[]},{"id":"caf899c2.1f4068","type":"comment","z":"5e038606.189078","name":"Check if need to create a new hourly clip","info":"","x":1460,"y":40,"wires":[]},{"id":"d8c11876.131818","type":"comment","z":"5e038606.189078","name":"Need to create clip","info":"","x":1610,"y":160,"wires":[]},{"id":"64c3292.bfa15d8","type":"change","z":"5e038606.189078","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"youtube","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[["4e34f9a0.a41798"]]},{"id":"3c5b23c9.6f8d1c","type":"function","z":"faf2e075.8588c","name":"Go To Page and Listen","func":"'use strict';\n\nvar DEBUG=true; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    try{\n        const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n        let page = await browser.newPage();\n  \n        log('Setting Session Cookies');\n        await page.setCookie(...msg.session.cookies);\n        \n        await page.on('response', response => {\n             if (response.url().includes(msg.page.listenTo[0]) && response.status()===200){\n                \n                //msg.headers = response.request().headers();\n                //msg.postData = response.request().postData();\n                \n                response.json().then(function (json) {\n                    \n                    msg.topic = msg.page.url + '_RECEIVED_RESPONSE';\n                    msg.payload = json;\n                    \n                    node.send(msg);\n        \n                    //log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n                })\n            }\n        });\n\n        log('Go to page ' + msg.page.url);\n        await page.goto(msg.page.url);\n\n        //log(msg.website.name + ' -- Wait For Navigation...')\n        //await page.waitForSelector(page_config.waitForSelector,{timeout : 10000});\n        await page.waitForNavigation({waitUntil: 'load'});\n        \n        const url = await page.evaluate(() => location.href);\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        //log(msg.website.name + ' -- Waiting ' + (msg.page.waitFor/1000) + ' seconds for responses before closing browser');\n        await sleep(msg.page.waitFor);\n        \n        //log(msg.website.name + ' -- Closing browser...');\n        \n        await browser.close();\n        \n        //log(msg.website.name + ' -- Goodbye!!');\n    }\n    catch(e){\n        //node.error(e);\n    }\n})();","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["ca4ed912.eec118"]]},{"id":"6d724fcc.3575a","type":"inject","z":"8743a80b.8df4a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":480,"wires":[["5912e962.4d7af8"]]},{"id":"f33e6a44.9207c8","type":"function","z":"d94fb931.bab888","name":"Login","func":"'use strict';\n\nvar DEBUG=true; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n    \nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    try{\n        const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n        const page = await browser.newPage();\n  \n        log(msg.website.name + ' -- Go to 1BetPro Website');\n        await page.goto('https://1betpro.com/');\n\n        log(msg.website.name + ' -- Type the login information :' + JSON.stringify(msg.website.params));\n        await page.type('#form > div:nth-child(2) > input', msg.website.params.username);\n        await page.type('#form > div:nth-child(3) > input', msg.website.params.password);\n\n        await page.waitForSelector('#form > input',{timeout : 5000});\n\n        log(msg.website.name + ' -- Login')\n        await page.click('#form > input');\n        \n        log(msg.website.name + ' -- Wait till logged in')\n        await page.waitForSelector('#logout_user',{timeout : 10000});\n        \n        log(msg.website.name + ' -- Logged In, saving cookies')\n        //msg.website.cookies = await page.cookies()\n        \n        const cookies = await page.cookies()\n        const url = await page.evaluate(() => location.href);\n        \n        msg.session ={\n            cookies: cookies,\n            history: []\n        }\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        msg.topic = 'LOGIN_SUCCESS';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        //await browser.close();\n    }\n    catch(e){\n        \n        node.error(e);\n        \n        msg.topic = 'LOGIN_FAILED';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        //await browser.close();\n    }\n})();","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["4dd018a2.9703c8"]]},{"id":"1528693d.0811d7","type":"change","z":"bda9989.3a98068","name":"Set Pages","rules":[{"t":"set","p":"payload","pt":"msg","to":"website.pages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["3e8df435.17460c"]]},{"id":"3e8df435.17460c","type":"split","z":"bda9989.3a98068","name":"For Each Page","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":720,"y":160,"wires":[["a65dba6.f920e48"]]},{"id":"4dd018a2.9703c8","type":"switch","z":"d94fb931.bab888","name":"Login Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN_SUCCESS","vt":"str"},{"t":"eq","v":"LOGIN_FAILED","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[[],[]]},{"id":"1a670346.3009dd","type":"debug","z":"8743a80b.8df4a8","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":240,"wires":[]},{"id":"c6b65b90.517078","type":"debug","z":"8743a80b.8df4a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2610,"y":220,"wires":[]},{"id":"ca4ed912.eec118","type":"switch","z":"faf2e075.8588c","name":"Response","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"msg.page.url & '_RECEIVED_RESPONSE'","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":320,"wires":[[]]},{"id":"eba2bf23.6eece","type":"change","z":"8d7750f6.a91db","name":"Set Line","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.line","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["de22efe5.6e2f4"]]},{"id":"8271efd5.73b9","type":"switch","z":"8d7750f6.a91db","name":"Got Line","property":"payload.line","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":240,"wires":[["eba2bf23.6eece"]]},{"id":"de22efe5.6e2f4","type":"split","z":"8d7750f6.a91db","name":"For Each Line","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":820,"y":240,"wires":[[]]},{"id":"5c4c5c17.9aa634","type":"html","z":"fd5c9c45.e7c55","name":"Games","property":"payload.html","tag":"tr[game_id]","ret":"attr","as":"single","x":440,"y":200,"wires":[["d51a1b5b.e97b98"]]},{"id":"37567a71.92f186","type":"change","z":"fd5c9c45.e7c55","name":"Set Game ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.html[0].game_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["7fc302c0.bf813c"]]},{"id":"7fc302c0.bf813c","type":"join","z":"fd5c9c45.e7c55","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":200,"wires":[["b21561f3.7e35a"]]},{"id":"d51a1b5b.e97b98","type":"switch","z":"fd5c9c45.e7c55","name":"","property":"payload.html[0]","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":200,"wires":[["37567a71.92f186"]]},{"id":"b21561f3.7e35a","type":"sort","z":"fd5c9c45.e7c55","name":"","order":"descending","as_num":true,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":970,"y":200,"wires":[[]]},{"id":"e842ceac.82bd7","type":"split","z":"520d204a.6248b","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":660,"y":220,"wires":[["a3477e2e.5793b"]]},{"id":"a3477e2e.5793b","type":"delay","z":"520d204a.6248b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["fb3d627c.b4bff"]]},{"id":"9edd3745.df21f8","type":"change","z":"52f2656a.61247c","name":"Set Game Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.origin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["2ee2b01d.82be"]]},{"id":"2ee2b01d.82be","type":"split","z":"52f2656a.61247c","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":360,"y":280,"wires":[["d154070c.4ac2f8"]]},{"id":"d154070c.4ac2f8","type":"switch","z":"52f2656a.61247c","name":"","property":"payload.types","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["94fbb25e.c4de7"]]},{"id":"94fbb25e.c4de7","type":"change","z":"52f2656a.61247c","name":"Set Types","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.types","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["835b0a86.fee6a8"]]},{"id":"835b0a86.fee6a8","type":"split","z":"52f2656a.61247c","name":"For Each Type","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":280,"wires":[["227433d4.fe887c"]]},{"id":"227433d4.fe887c","type":"change","z":"52f2656a.61247c","name":"Set Games","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.games","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":280,"wires":[["7818844.30edf7c"]]},{"id":"7818844.30edf7c","type":"split","z":"52f2656a.61247c","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1140,"y":280,"wires":[["748372d2.415cec"]]},{"id":"eedfb9a8.ab5f18","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.website.name","pt":"msg","to":"website.name","tot":"msg"},{"t":"set","p":"payload.sport.name","pt":"msg","to":"$lowercase(msg.payload.sport)","tot":"jsonata"},{"t":"set","p":"payload.event.name","pt":"msg","to":"$lowercase(msg.payload.teams[0] & ' VS ' & msg.payload.teams[1])","tot":"jsonata"},{"t":"set","p":"payload.event.league.name","pt":"msg","to":"$lowercase(msg.payload.league)","tot":"jsonata"},{"t":"set","p":"payload.event.participants","pt":"msg","to":"payload.teams","tot":"msg"},{"t":"set","p":"payload.event.date","pt":"msg","to":"payload.date","tot":"msg"},{"t":"set","p":"payload.event.odds","pt":"msg","to":"payload.odds","tot":"msg"},{"t":"delete","p":"payload.sport","pt":"msg"},{"t":"delete","p":"payload.league","pt":"msg"},{"t":"delete","p":"payload.date","pt":"msg"},{"t":"delete","p":"payload.teams","pt":"msg"},{"t":"delete","p":"payload.live","pt":"msg"},{"t":"delete","p":"payload.fav","pt":"msg"},{"t":"delete","p":"payload.more","pt":"msg"},{"t":"delete","p":"payload.odds","pt":"msg"},{"t":"delete","p":"payload.show_options","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":360,"wires":[[]]},{"id":"748372d2.415cec","type":"function","z":"52f2656a.61247c","name":"","func":"let odds = [];\n\nlet event = {\n    \"name\" : (msg.payload.teams[0] + ' vs ' + msg.payload.teams[1]).toLowerCase(),\n    \"participants\" : msg.payload.teams.map(team => {return team.toLowerCase()}),\n    \"date\" : msg.payload.date,\n    \"score\" : (msg.payload.hasOwnProperty(\"add_inf\")) ? msg.payload.add_inf.sc1 + ' - ' + msg.payload.add_inf.sc2 : '0 - 0',\n    \"league.name\" : msg.payload.league.toLowerCase(),\n    \"sport.name\" : msg.payload.sport.toLowerCase(),\n    \"minute\": (msg.payload.hasOwnProperty(\"add_inf\")) ? parseInt(msg.payload.add_inf.minute.replace(\"'\")) : 0\n}\n\nlet website = msg.website;\n\nlet orig_odds = msg.payload.odds;\n\nif(orig_odds.hasOwnProperty(\"ft\")){\n    \n    if(orig_odds.ft.hasOwnProperty(\"1x2\")){\n            \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][0][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][0][1]),\n                \"run_line\" : 1,\n                \"opponent\": 1\n            }\n        });\n    \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][1][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][1][1]),\n                \"run_line\" : 1,\n                \"opponent\": 2\n            }\n        });\n        \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][2][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][2][1]),\n                \"run_line\" : 1,\n                \"opponent\": 0\n            }\n        });\n    }\n    \n    if(orig_odds.ft.hasOwnProperty(\"ou\")){\n        orig_odds.ft.ou.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Over\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Under\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n    \n    if(orig_odds.ft.hasOwnProperty(\"ah\")){\n        orig_odds.ft.ah.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n}\n\nif(orig_odds.hasOwnProperty(\"ht\")){\n    \n    if(orig_odds.ht.hasOwnProperty(\"1x2\")){\n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][0][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][0][1]),\n                \"run_line\" : 1,\n                \"opponent\": 1\n            }\n        });\n    \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][1][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][1][1]),\n                \"run_line\" : 1,\n                \"opponent\": 2\n            }\n        });\n        \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][2][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][2][1]),\n                \"run_line\" : 1,\n                \"opponent\": 0\n            }\n        });\n    }\n    \n    if(orig_odds.ht.hasOwnProperty(\"ou\")){\n        orig_odds.ht.ou.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Over\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Under\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n    \n    if(orig_odds.ht.hasOwnProperty(\"ah\")){\n        orig_odds.ht.ah.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n}\n\nmsg.payload = odds;\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":280,"wires":[["9f5860af.d57d4"]]},{"id":"9f5860af.d57d4","type":"split","z":"52f2656a.61247c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1610,"y":280,"wires":[["362f1b45.9f4714"]]},{"id":"7cbb4217.a0db0c","type":"switch","z":"29cf43c4.26adec","name":"Yes/No","property":"exists","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":280,"wires":[["7403b2ec.c6c45c"],["ac24189d.f354c8"]]},{"id":"966cc969.63ef48","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.league.name & ';' & msg.payload.event.name & ';' & msg.payload.event.date & ';' & msg.payload.odds[0].type & ';' & msg.payload.odds[0].expires_on & ';' &  msg.payload.odds[0].run_line & ';' & msg.payload.odds[0].opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":400,"wires":[[]]},{"id":"8a088a21.50a928","type":"function","z":"b7eb2a5f.2481a8","name":"Login","func":"'use strict';\n\nvar DEBUG=true; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n    \nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    try{\n        const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n        const page = await browser.newPage();\n    \n        log(msg.website.name + ' -- Go to Website');\n        await page.goto('http://www.966sport.com/login/');\n\n        log(msg.website.name + ' -- Type the login information for website :' + JSON.stringify(msg.website.params));\n        await page.type('#form > div:nth-child(2) > div > input', msg.website.params.username);\n        await page.type('#form > div:nth-child(3) > div > input', msg.website.params.password);\n\n        await page.waitForSelector('#form > div:nth-child(4) > div > button',{timeout : 5000});\n\n        log(msg.website.name + ' -- Login')\n        await page.click('#form > div:nth-child(4) > div > button');\n        \n        log(msg.website.name + ' -- Wait till logged in')\n        await page.waitForSelector('.b-user.open-button.left',{timeout : 10000});\n        \n        log(msg.website.name + ' -- Logged In, saving cookies')\n        const cookies = await page.cookies()\n        const url = await page.evaluate(() => location.href);\n        \n        msg.session ={\n            cookies: cookies,\n            history: []\n        }\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        msg.topic = 'LOGIN_SUCCESS';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        \n        await browser.close();\n    }\n    catch(e){\n        \n        node.error(e);\n        \n        msg.topic = 'LOGIN_FAILED';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n    }\n})();","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["62fe0d24.d84414"]]},{"id":"62fe0d24.d84414","type":"switch","z":"b7eb2a5f.2481a8","name":"Login Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN_SUCCESS","vt":"str"},{"t":"eq","v":"LOGIN_FAILED","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":240,"wires":[[],[]]},{"id":"aef8696a.c3d518","type":"subflow:d94fb931.bab888","z":"8743a80b.8df4a8","name":"1Betpro Session","x":580,"y":200,"wires":[["e0468c80.76c89"],["1a670346.3009dd"]]},{"id":"776d9b53.b4dba4","type":"change","z":"6ca7ba6a.fb6f14","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["8ddae01b.66ca2"]]},{"id":"8ddae01b.66ca2","type":"split","z":"6ca7ba6a.fb6f14","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":140,"wires":[["f312958f.97f068"]]},{"id":"f312958f.97f068","type":"change","z":"6ca7ba6a.fb6f14","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[["d7e13ed0.a2355"]]},{"id":"d7e13ed0.a2355","type":"switch","z":"6ca7ba6a.fb6f14","name":"Route by website","property":"website.name","propertyType":"msg","rules":[{"t":"eq","v":"1betpro.com","vt":"str"},{"t":"eq","v":"966sport.com--disabled","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":140,"wires":[[],[]]},{"id":"ecc48294.72c6d","type":"subflow:faf2e075.8588c","z":"8743a80b.8df4a8","name":"","x":1030,"y":160,"wires":[["bde057a.8324ea8"]]},{"id":"fb3d627c.b4bff","type":"change","z":"520d204a.6248b","name":"Set Game Page","rules":[{"t":"set","p":"page","pt":"msg","to":"{\t    \"url\": msg.website.url & msg.payload & '/game/',\t    \"waitFor\": msg.website.waitFor,\t    \"listenTo\": msg.website.listenTo\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"e0468c80.76c89","type":"subflow:bda9989.3a98068","z":"8743a80b.8df4a8","name":"","x":820,"y":160,"wires":[["ecc48294.72c6d"]]},{"id":"da4451f9.ec3a8","type":"subflow:faf2e075.8588c","z":"8743a80b.8df4a8","name":"","x":1750,"y":160,"wires":[["b00f9f89.b9aa2"]]},{"id":"d25d20dd.df1aa","type":"subflow:29cf43c4.26adec","z":"8743a80b.8df4a8","name":"","x":2420,"y":220,"wires":[["c6b65b90.517078"],["c6b65b90.517078"]]},{"id":"b00f9f89.b9aa2","type":"subflow:52f2656a.61247c","z":"8743a80b.8df4a8","name":"","x":2000,"y":160,"wires":[["d25d20dd.df1aa"]]},{"id":"ad667dba.841bf","type":"subflow:fd5c9c45.e7c55","z":"8743a80b.8df4a8","name":"","x":1370,"y":160,"wires":[["2b0bce2.f6a3c32"]]},{"id":"bde057a.8324ea8","type":"subflow:8d7750f6.a91db","z":"8743a80b.8df4a8","name":"","x":1220,"y":160,"wires":[["ad667dba.841bf"]]},{"id":"2b0bce2.f6a3c32","type":"subflow:520d204a.6248b","z":"8743a80b.8df4a8","name":"","x":1540,"y":160,"wires":[["da4451f9.ec3a8"]]},{"id":"5912e962.4d7af8","type":"change","z":"8743a80b.8df4a8","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":480,"wires":[["a48517d8.09dd98"]]},{"id":"a48517d8.09dd98","type":"split","z":"8743a80b.8df4a8","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":480,"wires":[["63ed7db8.564884"]]},{"id":"63ed7db8.564884","type":"change","z":"8743a80b.8df4a8","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":480,"wires":[["115fb14.b88384f"]]},{"id":"115fb14.b88384f","type":"switch","z":"8743a80b.8df4a8","name":"Route by website","property":"website.name","propertyType":"msg","rules":[{"t":"eq","v":"1betpro.com","vt":"str"},{"t":"eq","v":"966sport.com","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":480,"wires":[[],[]]},{"id":"a65dba6.f920e48","type":"change","z":"bda9989.3a98068","name":"Set Page URL","rules":[{"t":"set","p":"page","pt":"msg","to":"{\t    \"url\": msg.website.url & msg.payload.url,\t    \"waitFor\": msg.payload.waitFor,\t    \"listenTo\": msg.payload.listenTo\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[[]]},{"id":"99be59cc.d18908","type":"subflow:b7eb2a5f.2481a8","z":"8743a80b.8df4a8","name":"","x":600,"y":320,"wires":[["2c025b11.14d614"],["7ebfe323.be1cbc"]]},{"id":"2c025b11.14d614","type":"subflow:bda9989.3a98068","z":"8743a80b.8df4a8","name":"","x":820,"y":300,"wires":[["2ea0a01a.5527b"]]},{"id":"2ea0a01a.5527b","type":"subflow:faf2e075.8588c","z":"8743a80b.8df4a8","name":"","x":1030,"y":300,"wires":[["890c25ee.3fc458"]]},{"id":"991eebed.cff178","type":"split","z":"dd2ff415.75e098","name":"For Each Response","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":220,"y":240,"wires":[["e8a57ae9.03ae98"]]},{"id":"e8a57ae9.03ae98","type":"switch","z":"dd2ff415.75e098","name":"Has Events?","property":"payload.events","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":240,"wires":[["e5ad796f.9c13f8"]]},{"id":"e5ad796f.9c13f8","type":"change","z":"dd2ff415.75e098","name":"Set Events","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.events","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[["ae59b11d.a5b89"]]},{"id":"ae59b11d.a5b89","type":"split","z":"dd2ff415.75e098","name":"For Each Event","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":740,"y":240,"wires":[["8fcfbf33.d6be8"]]},{"id":"7ebfe323.be1cbc","type":"debug","z":"8743a80b.8df4a8","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":360,"wires":[]},{"id":"115efd64.4d95b3","type":"function","z":"dd2ff415.75e098","name":"","func":"var DEBUG=true; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\ntry{\n    \n    const website= {\n        name: msg.website.name\n    };\n    \n    let odds = {\n        event: {\n            name: (msg.payload.home_team + ' vs ' + msg.payload.away_team).toLowerCase(),\n            date: '2018-' + msg.payload.date.split('<br>')[1].split('/')[1] + '-' + msg.payload.date.split('<br>')[1].split('/')[0] + ' ' + msg.payload.date.split('<br>')[0] + ':00' ,//'22:00<br>19/03<br>',\n            participants: [msg.payload.home_team.toLowerCase(),msg.payload.away_team.toLowerCase()],\n            score: '0 - 0',\n            minute: 0,\n            league: {\n                name: msg.temp.liga.toLowerCase()\n            },\n            sport: {\n                name: msg.temp.sport.toLowerCase()\n            }\n        }\n    }\n      \n    // 1x2\n    // Full Time \n    if(msg.payload.hasOwnProperty(\"FT_1X2_h\")){\n        try {\n            \n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_1X2_h').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_1X2_h.toString().trim()),\n                    run_line:           1,\n                    opponent:           1\n                }\n    \n        }\n        catch(e) {\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_1X2_a').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_1X2_a.toString().trim()),\n                    run_line:           1,\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_d\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_1X2_d').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_1X2_d.toString().trim()),\n                    run_line:           1,\n                    opponent:           0\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_1X2_h\")){\n        try{\n           odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_1X2_h').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_1X2_h.toString().trim()),\n                    run_line:           1,\n                    opponent:           1\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_1X2_a').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_1X2_a.toString().trim()),\n                    run_line:           1,\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_d\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_1X2_d').trim(),\n                    type:               \"1x2\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_1X2_d.toString().trim()),\n                    run_line:           1,\n                    opponent:           0\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Handicap\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_HDP_h\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_HDP_h' + msg.payload.FT_HDP_h_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_HDP_h.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_HDP_h_op.toString().trim()),\n                    opponent:           1\n                }\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    } \n    \n    if(msg.payload.hasOwnProperty(\"FT_HDP_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_HDP_a' + msg.payload.FT_HDP_a_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_HDP_a.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_HDP_a_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_HDP_h\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_HDP_h' + msg.payload.FH_HDP_h_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_HDP_h.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_HDP_h_op.toString().trim()),\n                    opponent:           1\n                }\n        }\n        catch(e){\n            \n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_HDP_a\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_HDP_a' + msg.payload.FH_HDP_a_op).trim(),\n                    type:               \"Handicap\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_HDP_a.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_HDP_a_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_o\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_OU_o' + msg.payload.FT_OU_o_op).trim(),\n                    type:               \"Over\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_OU_o.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_OU_o_op.toString().trim()),\n                    opponent:           1\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_o\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_OU_o' + msg.payload.FH_OU_o_op).trim(),\n                    type:               \"Over\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_OU_o.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_OU_o_op.toString().trim()),\n                    opponent:           1\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    \n    // Under\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_u\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FT_OU_u' + msg.payload.FT_OU_u_op).trim(),\n                    type:               \"Under\",\n                    expires_on:         \"Full Time\",\n                    money_line:         parseFloat(msg.payload.FT_OU_u.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FT_OU_u_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Under\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_u\")){\n        try{\n            odds[website.name] = {\n                    id:                 (msg.payload.id_e + 'FH_OU_u' + msg.payload.FH_OU_u_op).trim(),\n                    type:               \"Under\",\n                    expires_on:         \"1st Half\",\n                    money_line:         parseFloat(msg.payload.FH_OU_u.toString().trim()),\n                    run_line:           parseFloat(msg.payload.FH_OU_u_op.toString().trim()),\n                    opponent:           2\n                }\n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    msg.payload = Object.assign(event, odds);\n    \n    return msg;\n}\ncatch(e){\n    \n}","outputs":1,"noerr":0,"x":890,"y":160,"wires":[[]]},{"id":"54ac5ac5.ce4974","type":"change","z":"dd2ff415.75e098","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.league.name & ';' & msg.payload.event.name & ';' & msg.payload.event.date & ';' & msg.payload.odd.type & ';' & msg.payload.odd.expires_on & ';' &  msg.payload.odd.run_line & ';' & msg.payload.odd.opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":240,"wires":[[]]},{"id":"4c200cfb.9e86b4","type":"split","z":"dd2ff415.75e098","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1030,"y":240,"wires":[["54ac5ac5.ce4974"]]},{"id":"890c25ee.3fc458","type":"subflow:dd2ff415.75e098","z":"8743a80b.8df4a8","name":"","x":2010,"y":300,"wires":[["d25d20dd.df1aa"]]},{"id":"f6d1b8ab.946ae8","type":"debug","z":"8743a80b.8df4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2190,"y":220,"wires":[]},{"id":"8fcfbf33.d6be8","type":"function","z":"dd2ff415.75e098","name":"","func":"var DEBUG=true; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\ntry{\n    let odds = [];\n    \n    const website= {\n        name: msg.website.name\n    };\n    \n    const event= {\n            name: (msg.payload.home_team + ' vs ' + msg.payload.away_team).toLowerCase(),\n            date: '2018-' + msg.payload.date.split('<br>')[1].split('/')[1] + '-' + msg.payload.date.split('<br>')[1].split('/')[0] + ' ' + msg.payload.date.split('<br>')[0] + ':00' ,//'22:00<br>19/03<br>',\n            participants: [msg.payload.home_team.toLowerCase(),msg.payload.away_team.toLowerCase()],\n            score: '0 - 0',\n            minute: 0,\n            league: {\n                name: msg.temp.liga.toLowerCase()\n            },\n            sport: {\n                name: msg.temp.sport.toLowerCase()\n            }\n        };\n      \n    // 1x2\n    // Full Time \n    if(msg.payload.hasOwnProperty(\"FT_1X2_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_h').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_a').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n                \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_d\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  0,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_d').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_d.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_1X2_h\")){\n        try{\n            \n             let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_h').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n                \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_a').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_d\")){\n        try{\n            \n            odds.push({\n                event                       :  event,\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  0,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_d').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_d.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Handicap\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_HDP_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_HDP_h' + msg.payload.FT_HDP_h_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_HDP_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_HDP_h_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    } \n    \n    if(msg.payload.hasOwnProperty(\"FT_HDP_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_HDP_a' + msg.payload.FT_HDP_a_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_HDP_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_HDP_a_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_HDP_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_HDP_h' + msg.payload.FH_HDP_h_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_HDP_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_HDP_h_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            \n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_HDP_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_HDP_a' + msg.payload.FH_HDP_a_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_HDP_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_HDP_a_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_o\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Over\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_OU_o' + msg.payload.FT_OU_o_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_OU_o.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_OU_o_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_o\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Over\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_OU_o' + msg.payload.FH_OU_o_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_OU_o.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_OU_o_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    \n    // Under\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_u\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Under\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_OU_u' + msg.payload.FT_OU_u_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_OU_u.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_OU_u_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Under\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_u\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Under\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_OU_u' + msg.payload.FH_OU_u_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_OU_u.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_OU_u_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    msg.payload = odds;\n    \n    return msg;\n}\ncatch(e){\n    \n}","outputs":1,"noerr":0,"x":890,"y":240,"wires":[["4c200cfb.9e86b4"]]},{"id":"362f1b45.9f4714","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.league.name & ';' & msg.payload.event.name & ';' & msg.payload.event.date & ';' & msg.payload.odd.type & ';' & msg.payload.odd.expires_on & ';' &  msg.payload.odd.run_line & ';' & msg.payload.odd.opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":280,"wires":[[]]},{"id":"463f84ea.2a9dbc","type":"delay","z":"29cf43c4.26adec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":280,"wires":[["3bab49a3.43e396"]]},{"id":"476c9431.c9e18c","type":"template","z":"29cf43c4.26adec","name":"","field":"query","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"query\": {\n    \"bool\": {\n      \"should\": [\n        { \"match\": { \"event.date\":  {\"query\": \"{{payload.event.date}}\"} }},\n        { \"match\": { \"odd.type\": {\"query\": \"{{payload.odd.type}}\"}}},\n        { \"match\": { \"odd.expires_on\": {\"query\": \"{{payload.odd.expires_on}}\"}}},\n        { \"match\": { \"odd.opponent\": {\"query\": \"{{payload.odd.opponent}}\"}}}\n      ]\n    }\n  }\n}","output":"str","x":190,"y":380,"wires":[["78dcc27.5dc073c"]]},{"id":"1c20005a.59f7e","type":"debug","z":"29cf43c4.26adec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":380,"wires":[]},{"id":"78dcc27.5dc073c","type":"es-search","z":"29cf43c4.26adec","name":"","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"43749542.37d54c","x":340,"y":380,"wires":[["1c20005a.59f7e"]]},{"id":"3bab49a3.43e396","type":"es-exists","z":"29cf43c4.26adec","name":"","documentId":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":730,"y":280,"wires":[[]]},{"id":"7403b2ec.c6c45c","type":"es-create","z":"29cf43c4.26adec","name":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":1070,"y":240,"wires":[[]]},{"id":"ac24189d.f354c8","type":"es-update","z":"29cf43c4.26adec","name":"","documentId":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":1070,"y":320,"wires":[[]]},{"id":"5a2577f1.d3f528","type":"rdkafka out","z":"92ceeb1e.d32f98","name":"Kafka","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1050,"y":160,"wires":[]},{"id":"38bd83a5.c6010c","type":"inject","z":"92ceeb1e.d32f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["16008cc7.a7e983"]]},{"id":"16008cc7.a7e983","type":"change","z":"92ceeb1e.d32f98","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["a2fd2c2c.4bebb"]]},{"id":"a2fd2c2c.4bebb","type":"split","z":"92ceeb1e.d32f98","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":160,"wires":[["bdd08f7.135687"]]},{"id":"bdd08f7.135687","type":"change","z":"92ceeb1e.d32f98","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":160,"wires":[["9b99c160.8c30c"]]},{"id":"503758a7.7eb268","type":"config","z":"92ceeb1e.d32f98","name":"data","properties":[{"p":"data","pt":"flow","to":"{\"websites\":[{\"name\":\"1betpro.com\",\"url\":\"https://1betpro.com/\",\"params\":{\"username\":\"Tal1234\",\"password\":\"1111\"},\"waitFor\":30000,\"listenTo\":[\"/ajax/\"],\"pages\":[{\"url\":\"live/\",\"waitFor\":30000,\"listenTo\":[\"/ajax/\"]},{\"url\":\"all/games/\",\"waitFor\":30000,\"listenTo\":[\"/ajax/\"]}]},{\"name\":\"966sport.com\",\"url\":\"http://966sport.com/\",\"params\":{\"username\":\"X222\",\"password\":\"12345\"},\"waitFor\":30000,\"listenTo\":[\"ajax_t_games\"],\"pages\":[{\"url\":\"t_games?parm=EMyvDHrx3U4qVsrP%2BZ3e1GokOria%2BsQHIk%2BlX6LVy3mQcSbumzJVg9BM1YUxfLc%2FShx5BDz833LJWPMgA01ttA%3D%3D\",\"waitFor\":30000,\"listenTo\":[\"ajax_t_games\"]}]}]}","tot":"json"}],"active":true,"x":130,"y":40,"wires":[]},{"id":"9b99c160.8c30c","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"str","pretty":false,"x":840,"y":160,"wires":[["5a2577f1.d3f528"]]},{"id":"61e75469.67985c","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"1betpro.com","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":110,"y":200,"wires":[["7c838a24.482374"]]},{"id":"7c838a24.482374","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":200,"wires":[["ee1cb025.b817f"]]},{"id":"42cbd04f.988d3","type":"rdkafka in","z":"8743a80b.8df4a8","name":"","topic":"966sport.com","cgroup":"node-red-rdkafka","autocommit":true,"broker":"c0e67585.074708","x":110,"y":320,"wires":[["f4cdfb46.0f45a8"]]},{"id":"f4cdfb46.0f45a8","type":"json","z":"8743a80b.8df4a8","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":320,"wires":[["2a15e575.1327aa"]]},{"id":"2a15e575.1327aa","type":"change","z":"8743a80b.8df4a8","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":320,"wires":[["99be59cc.d18908"]]},{"id":"ee1cb025.b817f","type":"change","z":"8743a80b.8df4a8","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":200,"wires":[["aef8696a.c3d518"]]}]