flows.json
[{"id":"a2dc9c4f.d17ac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f243dc51.45397","type":"inject","z":"a2dc9c4f.d17ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":173,"y":185,"wires":[["49ab4ae2.2b9f14"]]},{"id":"bf676c48.e55e3","type":"debug","z":"a2dc9c4f.d17ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":180,"wires":[]},{"id":"49ab4ae2.2b9f14","type":"function","z":"a2dc9c4f.d17ac","name":"log","func":"node.log(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":219,"wires":[["bf676c48.e55e3"]]}]