flows.json
[{"id":"f2ff6f77.dd264","type":"tab","label":"Chrome Puppeteer test","disabled":false,"info":""},{"id":"3153b58.481094a","type":"remote-server","z":"","name":"elasticsearch","host":"http://elasticsearch","port":"9200"},{"id":"17ca8ce.d30a173","type":"inject","z":"f2ff6f77.dd264","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["7c655885.c88968"]]},{"id":"7c655885.c88968","type":"function","z":"f2ff6f77.dd264","name":"Search Google","func":"/**\n * Copyright 2017 Google Inc. All rights reserved.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n *     http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */\n\n/**\n * @fileoverview Search developers.google.com/web for articles tagged\n * \"Headless Chrome\" and scrape results from the results page.\n */\n\n'use strict';\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n  const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox']});\n  const page = await browser.newPage();\n\n  await page.goto('https://developers.google.com/web/');\n\n  // Type into search box.\n  await page.type('#searchbox input', 'Headless Chrome');\n\n  // Wait for suggest overlay to appear and click \"show all results\".\n  const allResultsSelector = '.devsite-suggest-all-results';\n  await page.waitForSelector(allResultsSelector);\n  await page.click(allResultsSelector);\n\n  // Wait for the results page to load and display the results.\n  const resultsSelector = '.gsc-results .gsc-thumbnail-inside a.gs-title';\n  await page.waitForSelector(resultsSelector);\n\n  // Extract the results from the page.\n  const links = await page.evaluate(resultsSelector => {\n    const anchors = Array.from(document.querySelectorAll(resultsSelector));\n    return anchors.map(anchor => {\n      const title = anchor.textContent.split('|')[0].trim();\n      return `${title} - ${anchor.href}`;\n    });\n  }, resultsSelector);\n  console.log(links.join('\\n'));\n  \n  await browser.close();\n  \n  msg.payload = links;\n  msg.topic = \"TASK_COMPLETED\";\n  node.send(msg);\n})();","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["99469da6.6aaf"]]},{"id":"99469da6.6aaf","type":"switch","z":"f2ff6f77.dd264","name":"Topic Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"TASK_COMPLETED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":220,"wires":[["97f9ede7.842e4"]]},{"id":"97f9ede7.842e4","type":"debug","z":"f2ff6f77.dd264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":320,"wires":[]}]