flows.json
[{"id":"aca500a5.26ea7","type":"tab","label":"Albert Master","disabled":false,"info":""},{"id":"72706932.2ca048","type":"tab","label":"Albert Worker","disabled":false,"info":""},{"id":"92ceeb1e.d32f98","type":"tab","label":"Albert Worker 2","disabled":true,"info":""},{"id":"d94fb931.bab888","type":"subflow","name":"1Betpro.com Session","info":"","in":[{"x":80,"y":100,"wires":[{"id":"15c93f15.719d71"}]}],"out":[{"x":1300,"y":140,"wires":[{"id":"c49073ad.50203","port":0},{"id":"87e56684.c18a38","port":0}]},{"x":1120,"y":40,"wires":[{"id":"a7be1e21.862a5","port":0}]}]},{"id":"6ca7ba6a.fb6f14","type":"subflow","name":"Bot Starter","info":"","in":[{"x":40,"y":140,"wires":[{"id":"776d9b53.b4dba4"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"d7e13ed0.a2355","port":0}]}]},{"id":"faf2e075.8588c","type":"subflow","name":"966sport Request","info":"","in":[{"x":320,"y":220,"wires":[{"id":"a2128ad1.29f588"}]}],"out":[{"x":1020,"y":220,"wires":[{"id":"b2469cd2.9f36e","port":0}]}]},{"id":"bda9989.3a98068","type":"subflow","name":"For Each Page","info":"","in":[{"x":240,"y":160,"wires":[{"id":"1528693d.0811d7"}]}],"out":[{"x":1180,"y":160,"wires":[{"id":"a65dba6.f920e48","port":0}]}]},{"id":"29cf43c4.26adec","type":"subflow","name":"Elasticsearch Merge","info":"","in":[{"x":60,"y":280,"wires":[{"id":"463f84ea.2a9dbc"}]}],"out":[{"x":1320,"y":240,"wires":[{"id":"d0f85fd9.2da0d","port":0}]},{"x":1320,"y":320,"wires":[{"id":"fa556f64.980fd","port":0}]},{"x":1320,"y":160,"wires":[{"id":"78dcc27.5dc073c","port":0}]}]},{"id":"52f2656a.61247c","type":"subflow","name":"1Betpro.com Line Transform","info":"","in":[{"x":20,"y":280,"wires":[{"id":"9edd3745.df21f8"}]}],"out":[{"x":1780,"y":280,"wires":[{"id":"58691bd5.d808c4","port":0}]}]},{"id":"fd5c9c45.e7c55","type":"subflow","name":"List 1BetPro Events","info":"","in":[{"x":60,"y":200,"wires":[{"id":"5f9d13c3.c32d0c"}]}],"out":[{"x":1540,"y":200,"wires":[{"id":"84f6d07e.16321","port":0}]}]},{"id":"8d7750f6.a91db","type":"subflow","name":"List Lines","info":"","in":[{"x":380,"y":240,"wires":[{"id":"8271efd5.73b9"}]}],"out":[{"x":980,"y":240,"wires":[{"id":"de22efe5.6e2f4","port":0}]}]},{"id":"520d204a.6248b","type":"subflow","name":"For Each Game","info":"","in":[{"x":500,"y":220,"wires":[{"id":"e842ceac.82bd7"}]}],"out":[{"x":1180,"y":220,"wires":[{"id":"fb3d627c.b4bff","port":0}]}]},{"id":"b7eb2a5f.2481a8","type":"subflow","name":"966Sport.com Session","info":"","in":[{"x":100,"y":240,"wires":[{"id":"64b40aef.230484"}]}],"out":[{"x":1320,"y":280,"wires":[{"id":"a56d9438.4aa278","port":0},{"id":"f6c6cfcb.de8af","port":0}]},{"x":1120,"y":160,"wires":[{"id":"62fe0d24.d84414","port":"0"}]}]},{"id":"dd2ff415.75e098","type":"subflow","name":"966Sport Line Transform","info":"","in":[{"x":40,"y":240,"wires":[{"id":"ae59b11d.a5b89"}]}],"out":[{"x":1240,"y":240,"wires":[{"id":"54ac5ac5.ce4974","port":0}]},{"x":900,"y":140,"wires":[{"id":"8fcfbf33.d6be8","port":0}]},{"x":740,"y":140,"wires":[{"id":"ae59b11d.a5b89","port":0}]}]},{"id":"987d9c15.b3c5","type":"subflow","name":"Google Search","info":"","in":[{"x":20,"y":560,"wires":[{"id":"dabcda67.42b548"}]}],"out":[{"x":2760,"y":620,"wires":[{"id":"4d9f6015.b3392","port":0},{"id":"dba88f3f.98e7b","port":0}]},{"x":1620,"y":440,"wires":[{"id":"62e9bb1.bfe4c44","port":0}]},{"x":1540,"y":560,"wires":[{"id":"24d1fb2b.7c3a84","port":0}]}]},{"id":"4831be77.6607b","type":"subflow","name":"1BetPro Request","info":"","in":[{"x":380,"y":220,"wires":[{"id":"90a915b4.cfd408"}]}],"out":[{"x":940,"y":220,"wires":[{"id":"a6eb88c4.19c058","port":0}]}]},{"id":"e1fcddda.49088","type":"subflow","name":"For Each 1BetPro Event","info":"","in":[{"x":200,"y":440,"wires":[{"id":"bf3db1de.5b3f8"}]}],"out":[{"x":1100,"y":440,"wires":[{"id":"16740cbc.486703","port":0}]}]},{"id":"363f279c.1671a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"43749542.37d54c","type":"remote-server","z":"","name":"elastic","host":"http://elasticsearch-elasticsearch.default.svc.cluster.local:9200"},{"id":"c0e67585.074708","type":"kafka-broker","z":"","broker":"kafka-kafka.default.svc.cluster.local:9092","clientid":"node-red-0"},{"id":"17bb932a.0660ad","type":"redis-config","z":"dd2ff415.75e098","host":"redis-redis-ha.default.svc.cluster.local","port":"6379","dbase":"0","pass":""},{"id":"3535b384.5d390c","type":"redis-config","z":"","host":"10.63.252.6","port":"6379","dbase":"0","pass":"8xKI0onpl5"},{"id":"3c5b23c9.6f8d1c","type":"function","z":"faf2e075.8588c","name":"Go To Page and Listen","func":"'use strict';\n\nvar DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n            \n    const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n    let page = await browser.newPage();\n\n    try{\n  \n        log('Setting Session Cookies');\n        await page.setCookie(...msg.session.cookies);\n        \n        await page.on('response', response => {\n             if (response.url().includes(msg.page.listenTo[0]) && response.status()===200){\n                \n                //msg.headers = response.request().headers();\n                //msg.postData = response.request().postData();\n                \n                response.json().then(function (json) {\n                    \n                    msg.topic = 'RESPONSE_FROM_' + response.url();\n                    msg.payload = json;\n                    \n                    node.send(msg);\n        \n                    log(msg.page.website.name + ' -- Sending a ' + msg.topic + ' message');\n                    \n                    log(msg.page.website.name + ' -- Finish Closing browser...');\n        \n                    browser.close();\n        \n                    log(msg.page.website.name + ' -- Goodbye!!');\n                })\n                \n            }\n        });\n\n        log('Go to page ' + msg.page.url);\n        await page.goto(msg.page.url);\n\n        log(msg.page.website.name + ' -- Wait For Selector ' + msg.page.waitForSelector + ' ...')\n        await page.waitForSelector(msg.page.waitForSelector,{timeout : 10000});\n        //await page.waitForNavigation({waitUntil: 'load'});\n        \n        const url = await page.evaluate(() => location.href);\n        \n        await msg.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        log(msg.page.website.name + ' -- Waiting ' + (msg.page.waitFor/1000) + ' seconds for responses before closing browser');\n        await sleep(msg.page.waitFor);\n        \n        log(msg.page.website.name + ' -- Timeout Closing browser...');\n        \n        await page.close();\n        await browser.close();\n        \n        log(msg.page.website.name + ' -- Goodbye!!');\n    }\n    catch(e){\n        node.error(e);\n        \n        log(msg.page.website.name + ' -- Closing browser...');\n        \n        await browser.close();\n        \n        log(msg.page.website.name + ' -- Goodbye!!');\n        \n        await page.close();\n        await browser.close();\n        \n        //return msg;\n    }\n})();","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["ca4ed912.eec118"]]},{"id":"f33e6a44.9207c8","type":"function","z":"d94fb931.bab888","name":"Login","func":"'use strict';\n\nvar DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n    \nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n    let page = await browser.newPage();\n  \n    try{\n        \n        log(msg.website.name + ' -- Go to 1BetPro Website');\n        await page.goto('https://1betpro.com/');\n\n        log(msg.website.name + ' -- Type the login information :' + JSON.stringify(msg.website.params));\n        await page.type('#form > div:nth-child(2) > input', msg.website.params.username);\n        await page.type('#form > div:nth-child(3) > input', msg.website.params.password);\n\n        await page.waitForSelector('#form > input',{timeout : 5000});\n\n        log(msg.website.name + ' -- Login')\n        await page.click('#form > input');\n        \n        log(msg.website.name + ' -- Wait till logged in')\n        await page.waitForSelector('#logout_user',{timeout : 10000});\n        \n        log(msg.website.name + ' -- Logged In, saving cookies')\n        //msg.website.cookies = await page.cookies()\n        \n        const cookies = await page.cookies()\n        const url = await page.evaluate(() => location.href);\n        \n        msg.website.session ={\n            cookies: cookies,\n            history: []\n        }\n        \n        await msg.website.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        msg.payload =[msg.website.name + \"_session\",JSON.stringify(msg.website.session)]\n\n        msg.topic = 'LOGIN_SUCCESS';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        await page.close();\n        await browser.close();\n    }\n    catch(e){\n        \n        node.error(e);\n        \n        msg.topic = 'LOGIN_FAILED';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        \n        await page.close();\n        await browser.close();\n    }\n})();","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["a7be1e21.862a5"]]},{"id":"1528693d.0811d7","type":"change","z":"bda9989.3a98068","name":"Set Pages","rules":[{"t":"set","p":"payload","pt":"msg","to":"website.pages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["3e8df435.17460c"]]},{"id":"3e8df435.17460c","type":"split","z":"bda9989.3a98068","name":"For Each Page","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":560,"y":160,"wires":[["e10998cc.96ab38"]]},{"id":"eba2bf23.6eece","type":"change","z":"8d7750f6.a91db","name":"Set Line","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.line","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["de22efe5.6e2f4"]]},{"id":"8271efd5.73b9","type":"switch","z":"8d7750f6.a91db","name":"Got Line","property":"payload.line","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":240,"wires":[["eba2bf23.6eece"]]},{"id":"de22efe5.6e2f4","type":"split","z":"8d7750f6.a91db","name":"For Each Line","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":820,"y":240,"wires":[[]]},{"id":"5c4c5c17.9aa634","type":"html","z":"fd5c9c45.e7c55","name":"Games","property":"payload.html","tag":".addbetslip","ret":"attr","as":"single","x":660,"y":200,"wires":[["d51a1b5b.e97b98"]]},{"id":"37567a71.92f186","type":"change","z":"fd5c9c45.e7c55","name":"Set Game ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(msg.payload.html[0].id, \"_\", 1)[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["a2a014fd.7e5dc8"]]},{"id":"7fc302c0.bf813c","type":"join","z":"fd5c9c45.e7c55","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1310,"y":200,"wires":[["84f6d07e.16321"]]},{"id":"d51a1b5b.e97b98","type":"switch","z":"fd5c9c45.e7c55","name":"","property":"payload.html[0]","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":200,"wires":[["37567a71.92f186"]]},{"id":"e842ceac.82bd7","type":"split","z":"520d204a.6248b","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":660,"y":220,"wires":[["a3477e2e.5793b"]]},{"id":"a3477e2e.5793b","type":"delay","z":"520d204a.6248b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["fb3d627c.b4bff"]]},{"id":"9edd3745.df21f8","type":"change","z":"52f2656a.61247c","name":"Set Game Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.origin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["2ee2b01d.82be"]]},{"id":"2ee2b01d.82be","type":"split","z":"52f2656a.61247c","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":360,"y":280,"wires":[["d154070c.4ac2f8"]]},{"id":"d154070c.4ac2f8","type":"switch","z":"52f2656a.61247c","name":"","property":"payload.types","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["94fbb25e.c4de7"]]},{"id":"94fbb25e.c4de7","type":"change","z":"52f2656a.61247c","name":"Set Types","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.types","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["835b0a86.fee6a8"]]},{"id":"835b0a86.fee6a8","type":"split","z":"52f2656a.61247c","name":"For Each Type","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":280,"wires":[["227433d4.fe887c"]]},{"id":"227433d4.fe887c","type":"change","z":"52f2656a.61247c","name":"Set Games","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.games","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":280,"wires":[["7818844.30edf7c"]]},{"id":"7818844.30edf7c","type":"split","z":"52f2656a.61247c","name":"For Each Game","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1140,"y":280,"wires":[["748372d2.415cec"]]},{"id":"748372d2.415cec","type":"function","z":"52f2656a.61247c","name":"","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog(msg.page.website.name + ' -- Start Transformation...');\n\n\nlet odds = [];\ntry{\nlet event = {\n    \"name\" : (msg.payload.teams[0] + ' vs ' + msg.payload.teams[1]).toLowerCase(),\n    \"official.name\": (msg.google!==undefined && msg.google.length>0) ? msg.google[0] : (msg.payload.teams[0] + ' vs ' + msg.payload.teams[1]).toLowerCase(),\n    \"participants\" : msg.payload.teams.map(team => {return team.toLowerCase()}),\n    \"date\" : msg.payload.date,\n    \"score\" : (msg.payload.hasOwnProperty(\"add_inf\")) ? msg.payload.add_inf.sc1 + ' - ' + msg.payload.add_inf.sc2 : '0 - 0',\n    \"league.name\" : msg.payload.league.toLowerCase(),\n    \"sport.name\" : msg.payload.sport.toLowerCase(),\n    \"minute\": (msg.payload.hasOwnProperty(\"add_inf\")) ? parseInt(msg.payload.add_inf.minute.replace(\"'\")) : 0\n}\n\nlet orig_odds = msg.payload.odds;\n\nif(orig_odds.hasOwnProperty(\"ft\")){\n    \n    if(orig_odds.ft.hasOwnProperty(\"1x2\")){\n            \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][0][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][0][1]),\n                \"run_line\" : 1,\n                \"opponent\": 1\n            }\n        });\n    \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][1][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][1][1]),\n                \"run_line\" : 1,\n                \"opponent\": 2\n            }\n        });\n        \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ft[\"1x2\"][2][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"Full Time\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ft[\"1x2\"][2][1]),\n                \"run_line\" : 1,\n                \"opponent\": 0\n            }\n        });\n    }\n    \n    if(orig_odds.ft.hasOwnProperty(\"ou\")){\n        orig_odds.ft.ou.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Over\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Under\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n    \n    if(orig_odds.ft.hasOwnProperty(\"ah\")){\n        orig_odds.ft.ah.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"Full Time\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n}\n\nif(orig_odds.hasOwnProperty(\"ht\")){\n    \n    if(orig_odds.ht.hasOwnProperty(\"1x2\")){\n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][0][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][0][1]),\n                \"run_line\" : 1,\n                \"opponent\": 1\n            }\n        });\n    \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][1][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][1][1]),\n                \"run_line\" : 1,\n                \"opponent\": 2\n            }\n        });\n        \n        odds.push({\n            \"event\" : event,\n            \"odd\": {\n                \n                \"1betpro.id\" : orig_odds.ht[\"1x2\"][2][0].replace(\"__\",\"\"),\n                \"type\" : \"1x2\",\n                \"expires_on\" : \"1st Half\",\n                \"1betpro.money_line\"  : parseFloat(orig_odds.ht[\"1x2\"][2][1]),\n                \"run_line\" : 1,\n                \"opponent\": 0\n            }\n        });\n    }\n    \n    if(orig_odds.ht.hasOwnProperty(\"ou\")){\n        orig_odds.ht.ou.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Over\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Under\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n    \n    if(orig_odds.ht.hasOwnProperty(\"ah\")){\n        orig_odds.ht.ah.forEach(odd => {\n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[0][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[0][1]),\n                    \"run_line\"  : parseFloat((odd[0][2]==\"pk\") ? 0 : odd[0][2]),\n                    \"opponent\": 1\n                }\n            });\n        \n            odds.push({\n                \"event\" : event,\n                \"odd\": {\n                    \n                    \"1betpro.id\" : odd[1][0].replace(\"__\",\"\"),\n                    \"type\" : \"Handicap\",\n                    \"expires_on\" : \"1st Half\",\n                    \"1betpro.money_line\"  : parseFloat(odd[1][1]),\n                    \"run_line\"  : parseFloat((odd[1][2]==\"pk\") ? 0 : odd[1][2]),\n                    \"opponent\": 2\n                }\n            });\n        })\n        \n    }\n}\n\nlog(msg.page.website.name + ' -- Finish Transformation, got ' + odds.length + ' rows');\n\n/*odds = odds.map(odd => {\n    Object.keys(odd).map(function(key, index) {\n       odd[key] = (odd[key]===null || odd[key]===undefined) ? \"-1\" : odd[key];\n    });\n})*/\n}\ncatch(e){\n    node.error(e);\n}\n\nmsg.payload = odds;\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":280,"wires":[["9f5860af.d57d4"]]},{"id":"9f5860af.d57d4","type":"split","z":"52f2656a.61247c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1450,"y":280,"wires":[["58691bd5.d808c4"]]},{"id":"7cbb4217.a0db0c","type":"switch","z":"29cf43c4.26adec","name":"Yes/No","property":"exists","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":280,"wires":[["7403b2ec.c6c45c"],["ac24189d.f354c8"]]},{"id":"776d9b53.b4dba4","type":"change","z":"6ca7ba6a.fb6f14","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["8ddae01b.66ca2"]]},{"id":"8ddae01b.66ca2","type":"split","z":"6ca7ba6a.fb6f14","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":140,"wires":[["f312958f.97f068"]]},{"id":"f312958f.97f068","type":"change","z":"6ca7ba6a.fb6f14","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[["d7e13ed0.a2355"]]},{"id":"d7e13ed0.a2355","type":"switch","z":"6ca7ba6a.fb6f14","name":"Route by website","property":"website.name","propertyType":"msg","rules":[{"t":"eq","v":"1betpro.com","vt":"str"},{"t":"eq","v":"966sport.com--disabled","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":140,"wires":[[],[]]},{"id":"fb3d627c.b4bff","type":"change","z":"520d204a.6248b","name":"Set Game Page","rules":[{"t":"set","p":"page","pt":"msg","to":"{\t    \"url\": msg.website.url & msg.payload & '/game/',\t    \"waitFor\": msg.website.waitFor,\t    \"waitForSelector\": msg.payload.waitForSelector,\t    \"listenTo\": msg.website.listenTo,\t    \"website\":{\"name\": msg.website.name}\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"a65dba6.f920e48","type":"change","z":"bda9989.3a98068","name":"Set Page URL","rules":[{"t":"set","p":"page","pt":"msg","to":"{\t    \"url\": msg.website.url & msg.payload.url,\t    \"waitFor\": msg.payload.waitFor,\t    \"waitForSelector\": msg.payload.waitForSelector,\t    \"listenTo\": msg.payload.listenTo,\t    \"website\":{\"name\": msg.website.name}\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":160,"wires":[[]]},{"id":"476c9431.c9e18c","type":"template","z":"29cf43c4.26adec","name":"Query","field":"query","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"query\": {\n    \"bool\": {\n      \"should\": [\n        { \"match\": { \"event.date\":  {\"query\": \"{{payload.event.date}}\"} }},\n        { \"match\": { \"odd.type\": {\"query\": \"{{payload.odd.type}}\"}}},\n        { \"match\": { \"odd.expires_on\": {\"query\": \"{{payload.odd.expires_on}}\"}}},\n        { \"match\": { \"odd.opponent\": {\"query\": \"{{payload.odd.opponent}}\"}}}\n      ]\n    }\n  }\n}","output":"str","x":910,"y":160,"wires":[["78dcc27.5dc073c"]]},{"id":"78dcc27.5dc073c","type":"es-search","z":"29cf43c4.26adec","name":"","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"43749542.37d54c","x":1130,"y":160,"wires":[[]]},{"id":"3bab49a3.43e396","type":"es-exists","z":"29cf43c4.26adec","name":"","documentId":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":490,"y":280,"wires":[["7cbb4217.a0db0c"]]},{"id":"7403b2ec.c6c45c","type":"es-create","z":"29cf43c4.26adec","name":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":930,"y":240,"wires":[["d0f85fd9.2da0d"]]},{"id":"ac24189d.f354c8","type":"es-update","z":"29cf43c4.26adec","name":"","documentId":"","documentIndex":"","documentType":"","server":"43749542.37d54c","x":930,"y":320,"wires":[["fa556f64.980fd"]]},{"id":"aae7b2d0.d6d16","type":"function","z":"29cf43c4.26adec","name":"Debug","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog('Checking if document ' + msg.documentId + ' already exists');\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["3bab49a3.43e396"]]},{"id":"fa556f64.980fd","type":"function","z":"29cf43c4.26adec","name":"Debug","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog('Updating document ' + msg.documentId);\n//log('msg = ' + JSON.stringify(msg));\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[[]]},{"id":"d0f85fd9.2da0d","type":"function","z":"29cf43c4.26adec","name":"Debug","func":"var DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nlog('Creating document ' + msg.documentId);\n//log('msg = ' + JSON.stringify(msg));\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":240,"wires":[[]]},{"id":"463f84ea.2a9dbc","type":"delay","z":"29cf43c4.26adec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":280,"wires":[["aae7b2d0.d6d16"]]},{"id":"a2a014fd.7e5dc8","type":"function","z":"fd5c9c45.e7c55","name":"Set Message Complete","func":"if(msg.parts.index === msg.parts.count-1) msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":200,"wires":[["7fc302c0.bf813c"]]},{"id":"e10998cc.96ab38","type":"switch","z":"bda9989.3a98068","name":"Is Enabled?","property":"payload.enabled","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":160,"wires":[["a65dba6.f920e48"]]},{"id":"84f6d07e.16321","type":"function","z":"fd5c9c45.e7c55","name":"Debug","func":"if(msg.debug){\n    arr = [];\n    arr.push(msg.payload[0]);\n    msg.payload = arr;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":200,"wires":[[]]},{"id":"2611631c.c78f2c","type":"subflow:d94fb931.bab888","z":"92ceeb1e.d32f98","name":"1Betpro Session","x":1020,"y":120,"wires":[["295c8ade.668bc6","a24750a0.64772"],["6d94d7e2.fa9bf8"]]},{"id":"295c8ade.668bc6","type":"subflow:bda9989.3a98068","z":"92ceeb1e.d32f98","name":"","x":1240,"y":120,"wires":[["446427b7.fe1748","8056857c.ed3bc8","8138f2bb.fe2e4"]]},{"id":"a5a2077d.d27648","type":"subflow:fd5c9c45.e7c55","z":"92ceeb1e.d32f98","name":"","x":2110,"y":120,"wires":[["b367348f.17fc48","34bb61a7.df208e","4878e140.ca91a"]]},{"id":"94885669.6ed308","type":"subflow:8d7750f6.a91db","z":"92ceeb1e.d32f98","name":"","x":1940,"y":120,"wires":[["a5a2077d.d27648","ca846940.70c6f8","9f30aac9.baf978"]]},{"id":"b367348f.17fc48","type":"subflow:520d204a.6248b","z":"92ceeb1e.d32f98","name":"","x":2300,"y":120,"wires":[["a069582a.9c35d8","c1ca3ed4.a5cbe","c69b657.dac6498"]]},{"id":"4095daef.003054","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":120,"wires":[["d34cd49d.0709e8","cd851982.184c68","664b75e.ff9728c"]]},{"id":"d34cd49d.0709e8","type":"change","z":"92ceeb1e.d32f98","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"debug","pt":"msg","to":"payload.debug","tot":"msg"},{"t":"set","p":"flow","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[["2611631c.c78f2c","4231e8ba.5dc658","c4fbb296.dccd9"]]},{"id":"a069582a.9c35d8","type":"function","z":"92ceeb1e.d32f98","name":"Stringify Page Message","func":"\nmsg = {\n    page: msg.page,\n    session: msg.session,\n    debug: msg.debug,\n    flow: msg.flow\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.flow + '-' + msg.page.website.name + \"-page\";\n\nreturn msg;","outputs":1,"noerr":0,"x":2530,"y":120,"wires":[["e1f5425d.ad544","1e24f2e7.b433ed","4f247d2e.6696c4"]]},{"id":"e1f5425d.ad544","type":"rdkafka out","z":"92ceeb1e.d32f98","name":"website-page","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":2760,"y":120,"wires":[]},{"id":"7253ae9d.61014","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":160,"wires":[]},{"id":"cd851982.184c68","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":160,"wires":[]},{"id":"4231e8ba.5dc658","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":160,"wires":[]},{"id":"a24750a0.64772","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":160,"wires":[]},{"id":"446427b7.fe1748","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":160,"wires":[]},{"id":"6ccfcb58.4e3e64","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1930,"y":160,"wires":[]},{"id":"ca846940.70c6f8","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2090,"y":160,"wires":[]},{"id":"34bb61a7.df208e","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2250,"y":160,"wires":[]},{"id":"c1ca3ed4.a5cbe","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2470,"y":160,"wires":[]},{"id":"1e24f2e7.b433ed","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2730,"y":160,"wires":[]},{"id":"6d94d7e2.fa9bf8","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1220,"y":60,"wires":[]},{"id":"743d08c.89a3cf8","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":660,"y":60,"wires":[]},{"id":"664b75e.ff9728c","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":840,"y":60,"wires":[]},{"id":"c4fbb296.dccd9","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1020,"y":60,"wires":[]},{"id":"8056857c.ed3bc8","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1460,"y":60,"wires":[]},{"id":"76e6707d.6a4e9","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1940,"y":60,"wires":[]},{"id":"9f30aac9.baf978","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2100,"y":60,"wires":[]},{"id":"4878e140.ca91a","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2280,"y":60,"wires":[]},{"id":"c69b657.dac6498","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2480,"y":60,"wires":[]},{"id":"4f247d2e.6696c4","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2740,"y":60,"wires":[]},{"id":"d6ae1f43.0b543","type":"subflow:52f2656a.61247c","z":"92ceeb1e.d32f98","name":"","x":1500,"y":300,"wires":[["61388715.d7d218","b5bb67e2.2a8d38","eaa7b3d7.299fd"]]},{"id":"5de458a.d6b9da8","type":"function","z":"92ceeb1e.d32f98","name":"Stringify Message","func":"\nmsg = {\n    documentIndex: msg.documentIndex,\n    documentType: msg.documentType,\n    documentId: msg.documentId,\n    payload: msg.payload,\n    debug: msg.debug,\n    flow: msg.flow\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.flow + \"-save-document\";\n\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":300,"wires":[["9bb0d579.942618","3ad03f95.7ead"]]},{"id":"d914ecc2.94b69","type":"rdkafka out","z":"92ceeb1e.d32f98","name":"save-document","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":2260,"y":300,"wires":[]},{"id":"30e03735.27fff8","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":300,"wires":[["749cf42c.5bf2dc","49025e6f.5dbe1","82ace1ee.7b7"]]},{"id":"749cf42c.5bf2dc","type":"function","z":"92ceeb1e.d32f98","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["9d6ddf22.1f1b2","777677be.b96788","39e232.bb850dce"]]},{"id":"e5eca841.360e98","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":655,"y":236.9141845703125,"wires":[]},{"id":"49025e6f.5dbe1","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":815,"y":236.9141845703125,"wires":[]},{"id":"9d6ddf22.1f1b2","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1000,"y":240,"wires":[]},{"id":"78770d27.e7b7d4","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1440,"y":240,"wires":[]},{"id":"55123cfd.fe1c14","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2000,"y":240,"wires":[]},{"id":"9bb0d579.942618","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2240,"y":240,"wires":[]},{"id":"28bf3eb3.e13ee2","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":665,"y":356.9141845703125,"wires":[]},{"id":"82ace1ee.7b7","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":825,"y":356.9141845703125,"wires":[]},{"id":"777677be.b96788","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1005,"y":356.9141845703125,"wires":[]},{"id":"ca8c1e52.62faa","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":360,"wires":[]},{"id":"1a629c07.c5d434","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1990,"y":360,"wires":[]},{"id":"3ad03f95.7ead","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2230,"y":360,"wires":[]},{"id":"8b5b7962.6dc018","type":"debug","z":"92ceeb1e.d32f98","name":"post-save","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1440,"y":540,"wires":[]},{"id":"bd2d1fd5.16296","type":"subflow:29cf43c4.26adec","z":"92ceeb1e.d32f98","name":"","x":1080,"y":540,"wires":[["8b5b7962.6dc018","f6fe9de4.2fd38"],["8b5b7962.6dc018"],["1fe3f086.d092ef"]]},{"id":"60206a2c.86f764","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":540,"wires":[["46733c3d.086164","61b8a0e4.26e2f","52200d96.36aea4"]]},{"id":"46733c3d.086164","type":"function","z":"92ceeb1e.d32f98","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":540,"wires":[["bd2d1fd5.16296","4661a9b4.a7c858","be597858.3e8d88"]]},{"id":"1fe3f086.d092ef","type":"debug","z":"92ceeb1e.d32f98","name":"query result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1280,"y":580,"wires":[]},{"id":"2c35f6b2.ea6b4a","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":660,"y":480,"wires":[]},{"id":"61b8a0e4.26e2f","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":860,"y":480,"wires":[]},{"id":"4661a9b4.a7c858","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1040,"y":480,"wires":[]},{"id":"bb8d21b4.5f197","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":580,"wires":[]},{"id":"52200d96.36aea4","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":580,"wires":[]},{"id":"be597858.3e8d88","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":580,"wires":[]},{"id":"f6fe9de4.2fd38","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1260,"y":480,"wires":[]},{"id":"4cad9ebb.455c6","type":"switch","z":"92ceeb1e.d32f98","name":"Topic router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"albert-1betpro","vt":"str"},{"t":"eq","v":"albert-1betpro-page","vt":"str"},{"t":"eq","v":"albert-save-document","vt":"str"},{"t":"eq","v":"albert-966sport","vt":"str"},{"t":"eq","v":"albert-966sport-page","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":350,"y":520,"wires":[["4095daef.003054","743d08c.89a3cf8","7253ae9d.61014"],["e5eca841.360e98","30e03735.27fff8","28bf3eb3.e13ee2"],["2c35f6b2.ea6b4a","60206a2c.86f764","bb8d21b4.5f197"],["d5f237b7.11d4c8","ad13f04f.a3cdd","8b0351f3.9841d"],["857db86b.4e3ad8","e0f1bcee.36dc6","c8bd4251.541d"]]},{"id":"fe23a843.8de518","type":"rdkafka in","z":"92ceeb1e.d32f98","name":"","topic":"^albert-*","cgroup":"albert","autocommit":true,"broker":"c0e67585.074708","x":60,"y":520,"wires":[["71b43106.f51c2","b424ed97.0b8f4","79787e3.87aea8"]]},{"id":"a366cbe8.efd398","type":"subflow:bda9989.3a98068","z":"92ceeb1e.d32f98","name":"","x":1260,"y":740,"wires":[["f9039a58.2dad68","7299bfd8.4fe1f","223612a5.c575ee"]]},{"id":"d5f237b7.11d4c8","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":740,"wires":[["fd33bffc.16431","41aef3b4.f0093c","31774aca.17ff56"]]},{"id":"fd33bffc.16431","type":"change","z":"92ceeb1e.d32f98","name":"Set Website","rules":[{"t":"set","p":"website","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"debug","pt":"msg","to":"payload.debug","tot":"msg"},{"t":"set","p":"flow","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":740,"wires":[["4a6ab182.34da1","5866cb22.5fb664","713b912f.b9b03"]]},{"id":"f9039a58.2dad68","type":"function","z":"92ceeb1e.d32f98","name":"Stringify Page Message","func":"\nmsg = {\n    page: msg.page,\n    session: msg.session,\n    debug: msg.debug,\n    flow: msg.flow\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.flow + '-' + msg.page.website.name + \"-page\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":740,"wires":[["94eeceb9.48165","cfb0922c.697ff","6e4c1ef5.bcbe"]]},{"id":"94eeceb9.48165","type":"rdkafka out","z":"92ceeb1e.d32f98","name":"website-page","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1750,"y":740,"wires":[]},{"id":"b01b91c.ac74b7","type":"debug","z":"92ceeb1e.d32f98","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":780,"wires":[]},{"id":"ad13f04f.a3cdd","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":660,"y":680,"wires":[]},{"id":"8b0351f3.9841d","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":780,"wires":[]},{"id":"31774aca.17ff56","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":780,"wires":[]},{"id":"223612a5.c575ee","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":780,"wires":[]},{"id":"6e4c1ef5.bcbe","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1710,"y":780,"wires":[]},{"id":"41aef3b4.f0093c","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":860,"y":680,"wires":[]},{"id":"5866cb22.5fb664","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1060,"y":680,"wires":[]},{"id":"f31b304e.3ed8e","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1240,"y":680,"wires":[]},{"id":"7299bfd8.4fe1f","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1480,"y":680,"wires":[]},{"id":"4a6ab182.34da1","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":780,"wires":[]},{"id":"cfb0922c.697ff","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1740,"y":700,"wires":[]},{"id":"b5c436e0.cd3988","type":"subflow:faf2e075.8588c","z":"92ceeb1e.d32f98","name":"","x":1030,"y":940,"wires":[["3c74eca7.79bf94","f1a28605.f53058","c2650c09.58095"]]},{"id":"d1a65c8b.74ae7","type":"function","z":"92ceeb1e.d32f98","name":"Stringify Message","func":"\nmsg = {\n    documentIndex: msg.documentIndex,\n    documentType: msg.documentType,\n    documentId: msg.documentId,\n    payload: msg.payload,\n    debug: msg.debug,\n    flow: msg.flow\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.flow + \"-save-document\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":940,"wires":[["4e5d63bf.145a6c","fc408c1.adb7e7"]]},{"id":"b66dfe8e.d83aa","type":"rdkafka out","z":"92ceeb1e.d32f98","name":"save-document","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":2140,"y":940,"wires":[]},{"id":"857db86b.4e3ad8","type":"json","z":"92ceeb1e.d32f98","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":940,"wires":[["30f84557.29847a","ad1c96c0.2a2788","9a5f3e7a.bd7df"]]},{"id":"30f84557.29847a","type":"function","z":"92ceeb1e.d32f98","name":"Set Message","func":"\nmsg = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":940,"wires":[["b5c436e0.cd3988","21ef239c.dc540c","89cca589.260c58"]]},{"id":"e0f1bcee.36dc6","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":660,"y":880,"wires":[]},{"id":"9a5f3e7a.bd7df","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":820,"y":880,"wires":[]},{"id":"89cca589.260c58","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1020,"y":880,"wires":[]},{"id":"f1a28605.f53058","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1260,"y":880,"wires":[]},{"id":"27340f2f.9fed2","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1780,"y":880,"wires":[]},{"id":"c8bd4251.541d","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":980,"wires":[]},{"id":"ad1c96c0.2a2788","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":980,"wires":[]},{"id":"21ef239c.dc540c","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":980,"wires":[]},{"id":"3c74eca7.79bf94","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":980,"wires":[]},{"id":"8d759f1.bc9896","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1770,"y":980,"wires":[]},{"id":"4e5d63bf.145a6c","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2010,"y":980,"wires":[]},{"id":"fc408c1.adb7e7","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2020,"y":880,"wires":[]},{"id":"71b43106.f51c2","type":"debug","z":"92ceeb1e.d32f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":620,"wires":[]},{"id":"b424ed97.0b8f4","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":300,"y":420,"wires":[]},{"id":"ded7f12b.b1d18","type":"rdkafka out","z":"aca500a5.26ea7","name":"Kafka","topic":"","key":"","partition":"0","broker":"c0e67585.074708","x":1630,"y":380,"wires":[]},{"id":"f7c26d47.9abfe","type":"inject","z":"aca500a5.26ea7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"3","x":180,"y":380,"wires":[["7da70950.cdd028"]]},{"id":"7da70950.cdd028","type":"change","z":"aca500a5.26ea7","name":"Set Websites","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.websites","tot":"flow"},{"t":"set","p":"flow","pt":"msg","to":"data.name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["78e2896d.f22e38","bc2637ed.e51ce8","65f76839.510bd8"]]},{"id":"65f76839.510bd8","type":"split","z":"aca500a5.26ea7","name":"For Each Website","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":380,"wires":[["4949ef11.8c9d5"]]},{"id":"cb3489b8.e8d988","type":"change","z":"aca500a5.26ea7","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"msg.flow & '-' & msg.payload.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":380,"wires":[["f721cae3.107988","87cc6828.3edc08","ad112b19.1a9178"]]},{"id":"263e737e.a26f4c","type":"config","z":"aca500a5.26ea7","name":"data","properties":[{"p":"data","pt":"flow","to":"{\"debug\":true,\"name\":\"albert\",\"websites\":[{\"name\":\"1betpro\",\"enabled\":false,\"url\":\"https://1betpro.com/\",\"params\":{\"username\":\"Tal1234\",\"password\":\"1111\"},\"waitFor\":10000,\"listenTo\":[\"/ajax/\"],\"waitForSelector\":\"#logout_user\",\"pages\":[{\"url\":\"all/games/\",\"enabled\":false,\"waitFor\":10000,\"waitForSelector\":\"#logout_user\",\"listenTo\":[\"/ajax/\"]},{\"url\":\"live/\",\"enabled\":false,\"waitFor\":120000,\"waitForSelector\":\"#logout_user\",\"listenTo\":[\"/ajax/\"]}]},{\"name\":\"966sport\",\"enabled\":true,\"url\":\"http://966sport.com/\",\"params\":{\"username\":\"X222\",\"password\":\"12345\"},\"waitFor\":10000,\"listenTo\":[\"ajax/live?\"],\"waitForSelector\":\".b-user.open-button.left\",\"pages\":[{\"url\":\"live\",\"enabled\":true,\"waitFor\":120000,\"waitForSelector\":\".b-user.open-button.left\",\"listenTo\":[\"ajax/live?\"]},{\"url\":\"early.php?parm=zGxf8QREKexNOFpjiWAel3rpFnzZVa1mW0LGFqa6Gl4KMZTMAmnXh9dtHeuA3zb2PYsyrCrNoaqahwn%2BHovof5Xsg4szsy7cIGQhHUpM8rqkCFPq4HuOyAx6Scxm1Wq2\",\"enabled\":false,\"waitFor\":10000,\"waitForSelector\":\".b-user.open-button.left\",\"listenTo\":[\"ajax_t_games\"]},{\"url\":\"t_games?parm=EMyvDHrx3U4qVsrP%2BZ3e1GokOria%2BsQHIk%2BlX6LVy3mQcSbumzJVg9BM1YUxfLc%2FShx5BDz833LJWPMgA01ttA%3D%3D\",\"enabled\":false,\"waitFor\":10000,\"waitForSelector\":\".b-user.open-button.left\",\"listenTo\":[\"ajax_t_games\"]},{\"url\":\"early.php?parm=zGxf8QREKexNOFpjiWAel3rpFnzZVa1mW0LGFqa6Gl4KMZTMAmnXh9dtHeuA3zb2PYsyrCrNoaqahwn%2BHovof6nCz8aTXb7u2ScNs9QCOpT0SpGbCnQlrLq9nYJ2YHtw\",\"enabled\":false,\"waitFor\":10000,\"waitForSelector\":\".b-user.open-button.left\",\"listenTo\":[\"ajax_t_games\"]},{\"url\":\"early.php?parm=zGxf8QREKexNOFpjiWAel3rpFnzZVa1mW0LGFqa6Gl4KMZTMAmnXh9dtHeuA3zb2PYsyrCrNoaqahwn%2BHovof8LxzNw3KKAjZJFYTWgFhzKe3zwCQdTHu0U2bS3adN6Q\",\"enabled\":false,\"waitFor\":10000,\"waitForSelector\":\".b-user.open-button.left\",\"listenTo\":[\"ajax_t_games\"]}]}]}","tot":"json"}],"active":true,"x":190,"y":200,"wires":[]},{"id":"f721cae3.107988","type":"json","z":"aca500a5.26ea7","name":"","property":"payload","action":"str","pretty":false,"x":1390,"y":380,"wires":[["ded7f12b.b1d18","4e3fd979.567268","a08741b9.d0c0a"]]},{"id":"3183b6e9.8de4ea","type":"change","z":"aca500a5.26ea7","name":"Set Common Params","rules":[{"t":"set","p":"payload.debug","pt":"msg","to":"debug","tot":"flow"},{"t":"set","p":"payload.flow","pt":"msg","to":"flow","tot":"msg"},{"t":"set","p":"payload.delay","pt":"msg","to":"delay","tot":"flow"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":380,"wires":[["cb3489b8.e8d988","7f46ebe0.6fed64","89599c12.06321"]]},{"id":"ad112b19.1a9178","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1390,"y":440,"wires":[]},{"id":"5a2c3743.742b08","type":"config","z":"aca500a5.26ea7","name":"debug","properties":[{"p":"debug","pt":"flow","to":"true","tot":"bool"}],"active":true,"x":390,"y":200,"wires":[]},{"id":"78e2896d.f22e38","type":"debug","z":"aca500a5.26ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":640,"y":320,"wires":[]},{"id":"ed71a195.4fc58","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1040,"y":320,"wires":[]},{"id":"7f46ebe0.6fed64","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1240,"y":320,"wires":[]},{"id":"87cc6828.3edc08","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1400,"y":320,"wires":[]},{"id":"4e3fd979.567268","type":"debug","z":"aca500a5.26ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1600,"y":320,"wires":[]},{"id":"bc2637ed.e51ce8","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":440,"wires":[]},{"id":"4db3314d.976e4","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":440,"wires":[]},{"id":"89599c12.06321","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":440,"wires":[]},{"id":"a08741b9.d0c0a","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1610,"y":440,"wires":[]},{"id":"79787e3.87aea8","type":"delay","z":"92ceeb1e.d32f98","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":520,"wires":[["4cad9ebb.455c6"]]},{"id":"8a088a21.50a928","type":"function","z":"b7eb2a5f.2481a8","name":"Login","func":"'use strict';\n\nvar DEBUG=msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n    \nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n    \nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n    const page = await browser.newPage();\n    \n    try{\n        \n        log(msg.website.name + ' -- Go to Website');\n        await page.goto('http://www.966sport.com/login/');\n\n        log(msg.website.name + ' -- Type the login information for website :' + JSON.stringify(msg.website.params));\n        await page.type('#form > div:nth-child(2) > div > input', msg.website.params.username);\n        await page.type('#form > div:nth-child(3) > div > input', msg.website.params.password);\n\n        await page.waitForSelector('#form > div:nth-child(4) > div > button',{timeout : 5000});\n\n        log(msg.website.name + ' -- Login')\n        await page.click('#form > div:nth-child(4) > div > button');\n        \n        log(msg.website.name + ' -- Wait till logged in')\n        await page.waitForSelector('.b-user.open-button.left',{timeout : 10000});\n        \n        log(msg.website.name + ' -- Logged In, saving cookies')\n        const cookies = await page.cookies()\n        const url = await page.evaluate(() => location.href);\n        \n        msg.website.session ={\n            cookies: cookies,\n            history: []\n        }\n        \n        await msg.website.session.history.push({\n            url: url,\n            timestamp: Date.now()\n        });\n        \n        await page.goto('http://www.966sport.com/options.php?lang=1');\n        \n        log(msg.website.name + ' -- Wait till English is set')\n        await page.waitForSelector('span.b-language-flag img[alt=English]',{timeout : 10000});\n        \n        msg.payload =[msg.website.name + \"_session\",JSON.stringify(msg.website.session)]\n        \n        msg.topic = 'LOGIN_SUCCESS';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        await page.close()\n        await browser.close();\n    }\n    catch(e){\n        \n        node.error(e);\n        \n        msg.topic = 'LOGIN_FAILED';\n        \n        node.send(msg);\n        \n        log(msg.website.name + ' -- Sending a ' + msg.topic + ' message');\n        \n        await page.close()\n        await browser.close();\n    }\n})();","outputs":1,"noerr":0,"x":810,"y":220,"wires":[["62fe0d24.d84414"]]},{"id":"62fe0d24.d84414","type":"switch","z":"b7eb2a5f.2481a8","name":"Login Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN_FAILED","vt":"str"},{"t":"eq","v":"LOGIN_SUCCESS","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":220,"wires":[[],["f6c6cfcb.de8af"]]},{"id":"713b912f.b9b03","type":"subflow:b7eb2a5f.2481a8","z":"92ceeb1e.d32f98","name":"","x":1040,"y":740,"wires":[["a366cbe8.efd398","f31b304e.3ed8e"],["b01b91c.ac74b7"]]},{"id":"ae59b11d.a5b89","type":"split","z":"dd2ff415.75e098","name":"For Each Event","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":620,"y":240,"wires":[["8fcfbf33.d6be8"]]},{"id":"54ac5ac5.ce4974","type":"change","z":"dd2ff415.75e098","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.official.name & ';' & msg.payload.event.date & ';' & msg.payload.odd.type & ';' & msg.payload.odd.expires_on & ';' &  msg.payload.odd.run_line & ';' & msg.payload.odd.opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"google","pt":"msg","to":"{\t    \"q\" : msg.payload.event.name,\t    \"key\": \"google_session_test3\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":240,"wires":[[]]},{"id":"4c200cfb.9e86b4","type":"split","z":"dd2ff415.75e098","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":240,"wires":[["54ac5ac5.ce4974"]]},{"id":"8fcfbf33.d6be8","type":"function","z":"dd2ff415.75e098","name":"Transform","func":"var DEBUG=msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nDate.prototype.getRoundHours = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n  var hh = this.getHours();\n  \n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm + '-',\n          (dd>9 ? '' : '0') + dd + ' ',\n          (hh>9 ? '' : '0') + hh + ':00:00',\n         ].join('');\n};\n\nlet odds = [];\n\ntry{\n    \n    let event_date = new Date();\n    let event_rounded_date = event_date.getRoundHours();\n\n    let event_minute = parseInt(msg.payload.date);\n    \n    if(msg.payload.date.includes(\"LIVE\")){\n        event_date = event_rounded_date;\n        event_minute = 0;\n    }\n    else if(event_minute>=0){\n        event_date.setMinutes(event_date.getMinutes() - event_minute);\n        event_minute = event_minute;\n    }\n    else{\n        event_date = \"1900-01-01 00:00:00\";\n        event_minute = -1;\n    }\n    \n    const event= {\n            name: (msg.payload.home_team + ' vs ' + msg.payload.away_team).toLowerCase(),\n            date: event_date,\n            participants: [msg.payload.home_team.toLowerCase(),msg.payload.away_team.toLowerCase()],\n            score: parseInt(msg.payload.score_h) + ' - ' + parseInt(msg.payload.score_a),\n            minute: event_minute,\n            league: {\n                name: msg.league.liga.toLowerCase()\n            },\n            sport: {\n                name: msg.league.sport.toLowerCase()\n            }\n        };\n     \n    // 1x2\n    // Full Time \n    if(msg.payload.hasOwnProperty(\"FT_1X2_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_h').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_a').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n                \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FT_1X2_d\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  0,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_1X2_d').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_1X2_d.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_1X2_h\")){\n        try{\n            \n             let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_h').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n                \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_a').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_1X2_d\")){\n        try{\n            \n            odds.push({\n                event                       :  event,\n                \"type\"                  :  \"1x2\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  0,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_1X2_d').trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_1X2_d.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  1\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Handicap\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_HDP_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_HDP_h' + msg.payload.FT_HDP_h_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_HDP_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_HDP_h_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    } \n    \n    if(msg.payload.hasOwnProperty(\"FT_HDP_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_HDP_a' + msg.payload.FT_HDP_a_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_HDP_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_HDP_a_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // 1st Half\n    if(msg.payload.hasOwnProperty(\"FH_HDP_h\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_HDP_h' + msg.payload.FH_HDP_h_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_HDP_h.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_HDP_h_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            \n        }\n    }\n    \n    if(msg.payload.hasOwnProperty(\"FH_HDP_a\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Handicap\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_HDP_a' + msg.payload.FH_HDP_a_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_HDP_a.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_HDP_a_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_o\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Over\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_OU_o' + msg.payload.FT_OU_o_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_OU_o.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_OU_o_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Over\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_o\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Over\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  1,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_OU_o' + msg.payload.FH_OU_o_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_OU_o.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_OU_o_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    \n    // Under\n    // Full Time\n    if(msg.payload.hasOwnProperty(\"FT_OU_u\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Under\",\n                \"expires_on\"            :  \"Full Time\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FT_OU_u' + msg.payload.FT_OU_u_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FT_OU_u.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FT_OU_u_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    // Under\n    // 1st Half \n    if(msg.payload.hasOwnProperty(\"FH_OU_u\")){\n        try{\n            \n            let odd = {\n                \"type\"                  :  \"Under\",\n                \"expires_on\"            :  \"1st Half\",\n                \"opponent\"              :  2,\n                \"966sport.id\"           :  (msg.payload.id_e + 'FH_OU_u' + msg.payload.FH_OU_u_op).trim().replace(\" \",\"\"),\n                \"966sport.money_line\"   :  parseFloat(msg.payload.FH_OU_u.toString().trim().replace(\" \",\"\")),\n                \"run_line\"     :  parseFloat(msg.payload.FH_OU_u_op.toString().trim().replace(\" \",\"\"))\n            }\n            \n            odds.push({\n                event   :  event,\n                odd     :  odd\n            });\n            \n        }\n        catch(e){\n            log(e.message)\n        }\n    }\n    \n    msg.payload = odds;\n    \n    return msg;\n}\ncatch(e){\n    node.error(e)\n    \n    msg.payload = odds;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["4c200cfb.9e86b4"]]},{"id":"c2650c09.58095","type":"subflow:dd2ff415.75e098","z":"92ceeb1e.d32f98","name":"","x":1290,"y":940,"wires":[["9fe59c35.95e82","ff97ff50.882c7","6a70ec48.f5b354"],[],[]]},{"id":"e53e4072.3e599","type":"function","z":"987d9c15.b3c5","name":"Google Session","func":"'use strict';\n\nvar DEBUG = msg.debug; // Enable logging\n\nvar log = function(){\n    if(DEBUG){\n        console.log.apply(console, arguments);\n    }\n}\n\nconst puppeteer = global.get('puppeteer');\n\n(async() => {\n    \n    const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox', '--shm-size=1gb', '--disable-dev-shm-usage']});\n    let page = await browser.newPage();\n  \n    let ip = \"0.0.0.0\";\n    \n    try{\n       \n        log('Google -- Search for my ip');\n\n        await page.goto('https://www.google.com/search?q=whats+my+ip');\n        \n        log('Google -- Wait For Selector');\n        \n        const resultsSelector = \"w-answer-desktop\";\n        \n        await page.waitForSelector(resultsSelector);\n\n        log('Google -- Get your ip');\n    \n        // Extract the results from the page.\n        const result = await page.evaluate(resultsSelector => {\n            const anchors = Array.from(document.querySelectorAll(resultsSelector));\n            return anchors.map(anchor => {\n                const ip = anchor.textContent.replace(\"Your public IP address\",\"\");\n                return `${ip}`;\n            });\n        }, resultsSelector);\n        \n        if(Array.isArray(result) && result.length>0){\n            ip = result[0];\n            log('Google -- Your ip is ' + ip);\n        }\n        \n        log('Google -- saving cookies')\n        const cookies = await page.cookies()\n        \n        log('Google -- getting current url')\n        const url = await page.evaluate(() => location.href);\n              \n        msg.google.session = {\n            ip: ip,\n            cookies: cookies,\n            timestamp: Date.now()\n        }\n        \n        msg.payload =[msg.google.key,JSON.stringify(msg.google.session)]\n        \n        msg.topic = 'GOOGLE_SESSION_CREATED';\n        \n        node.send(msg);\n        \n        log('Google -- Sending a ' + msg.topic + ' message');\n        \n        await page.close();\n        await browser.close();\n      \n    }\n    catch(e){\n        \n        await page.close();\n        await browser.close();\n        \n        node.error(e);\n    }\n})();","outputs":1,"noerr":0,"x":920,"y":480,"wires":[["e2da90eb.65ac9"]]},{"id":"f4a50262.cb338","type":"redis-command","z":"987d9c15.b3c5","server":"3535b384.5d390c","command":"get","name":"","topic":"","x":500,"y":560,"wires":[["5dca098e.2c9958"]]},{"id":"33383dcd.33b232","type":"function","z":"987d9c15.b3c5","name":"Keep previous payload","func":"msg.raw = msg.payload;\n\nmsg.payload = [msg.google.key];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["f4a50262.cb338"]]},{"id":"22342900.6fd068","type":"redis-command","z":"987d9c15.b3c5","server":"3535b384.5d390c","command":"set","name":"","topic":"","x":1380,"y":480,"wires":[["62e9bb1.bfe4c44"]]},{"id":"5dca098e.2c9958","type":"json","z":"987d9c15.b3c5","name":"","property":"payload","action":"","pretty":false,"x":630,"y":560,"wires":[["8d871f40.f1413"]]},{"id":"8d871f40.f1413","type":"switch","z":"987d9c15.b3c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":560,"wires":[["e53e4072.3e599"],["2e25b413.2f077c"]]},{"id":"e2da90eb.65ac9","type":"switch","z":"987d9c15.b3c5","name":"GOOGLE_SESSION_CREATED","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"GOOGLE_SESSION_CREATED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":480,"wires":[["22342900.6fd068"]]},{"id":"62e9bb1.bfe4c44","type":"switch","z":"987d9c15.b3c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1520,"y":480,"wires":[["48dee163.2e4ab"]]},{"id":"48dee163.2e4ab","type":"function","z":"987d9c15.b3c5","name":"Prepare Google Search Request","func":"msg.headers = {};\n\nmsg.headers['pragma'] = 'no-cache';\nmsg.headers['accept-language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6';\nmsg.headers['upgrade-insecure-requests'] = '1'; \nmsg.headers['user-agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36';\nmsg.headers['x-chrome-uma-enabled'] = '1';\nmsg.headers['accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8';\nmsg.headers['cache-control'] = 'no-cache';\nmsg.headers['authority'] = 'www.google.com' ;\nmsg.headers['referer'] = 'https://www.google.com/' ;\nmsg.headers['x-client-data'] = 'CIy2yQEIorbJAQj6nMoBCKmdygEIqKPKAQ==' ;\n\nmsg.headers['cookie'] = \"\";\n\nmsg.google.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\n//msg.headers['cookie'] = 'SID=1wUR2bBk007ka1qZ-LlCFTWV9ZPktj_8uOlaCTGsH_rryPGPsHOYMeutRMqP_WfTM8vFOQ.; HSID=A8Y4w06TlsDswwAeJ; SSID=AMrMKCFrEi1gxGnqe; APISID=IUzWNM9U7bPx3J4v/A_rOjznojC8ZHa0rk; SAPISID=tcwxRaHvpIGdGEQr/AheQN6D7POnGDLZTk; NID=126=oLfgQyzVYw2_gppcrUt1BlzHuZCRuIYPvZ-sOkODSnfde3SprDxuWN0VTU2HNPUfY4ZQ5jmJ7C2D75UiRLWHqyWs_ITsTrmWbC7OT2OlhB--8_innIlhdx-e4xofTnEnmIa2PwhR2PLlO_VlIvid7gD-ojM0vxtapcl-fXy53KMogNmdKaZmUhWfhU1f4e-l3Wily_DoZ2PsJkyvnYutDRk0roWKlnWyC9xHej6NlmEGyzPhwPXBoDUHKtfNsyii3YQmIlmlM1S1kHIMChhUURlqHtf_mtmnbc4ZRpKWnXAXESkwzaZIOk_7ynJsO1joetFLjjrGM9I9phuIPcPRkIvzlJHpUuR36JtxeC6Olu4kxJS9Gb3Or2uCX9FALTmJ4w4HkHJbZu6UK4eBgNXvN4RXOqYJXRfDsoAvUe_Yyg4H3Fbqtg; 1P_JAR=2018-03-30-00; DV=Q4AOKmzuVAREIPs_ZJY6ITCwfh1EJxae6kcv-tqp4AAAACAcuD9TMkTrsAAAAKCB8PQiUMTiNgAAAA';\n\nmsg.url = \"https://www.google.com/search?q=\" + msg.google.q.replace(\" \",\"+\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":560,"wires":[["149f14a9.e81d9b"]]},{"id":"149f14a9.e81d9b","type":"http request","z":"987d9c15.b3c5","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":2170,"y":560,"wires":[["e324edae.a0205"]]},{"id":"4d9f6015.b3392","type":"change","z":"987d9c15.b3c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"link\" : msg.payload.href ,\t    \"data\" : msg.raw\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600,"y":560,"wires":[[]]},{"id":"e324edae.a0205","type":"html","z":"987d9c15.b3c5","name":"","property":"payload","tag":"div[data-hveid] > div > h3 > a","ret":"attr","as":"multi","x":2380,"y":560,"wires":[["4d9f6015.b3392"]]},{"id":"2e25b413.2f077c","type":"function","z":"987d9c15.b3c5","name":"Get Query Result from cache","func":"msg.raw = msg.payload;\n\nmsg.payload = [msg.google.q];\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":620,"wires":[["efc94710.38dab8"]]},{"id":"efc94710.38dab8","type":"redis-command","z":"987d9c15.b3c5","server":"3535b384.5d390c","command":"get","name":"","topic":"","x":1180,"y":620,"wires":[["8f65d41d.1a7528"]]},{"id":"8f65d41d.1a7528","type":"json","z":"987d9c15.b3c5","name":"","property":"payload","action":"","pretty":false,"x":1310,"y":620,"wires":[["24d1fb2b.7c3a84"]]},{"id":"24d1fb2b.7c3a84","type":"switch","z":"987d9c15.b3c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":620,"wires":[["48dee163.2e4ab"],["dba88f3f.98e7b"]]},{"id":"dba88f3f.98e7b","type":"split","z":"987d9c15.b3c5","name":"For Each Result","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1890,"y":620,"wires":[[]]},{"id":"6a70ec48.f5b354","type":"subflow:987d9c15.b3c5","z":"92ceeb1e.d32f98","name":"","x":1560,"y":940,"wires":[["27340f2f.9fed2","d1a65c8b.74ae7","8d759f1.bc9896"],["8d759f1.bc9896"],["8d759f1.bc9896"]]},{"id":"9fe59c35.95e82","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1540,"y":880,"wires":[]},{"id":"ff97ff50.882c7","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1530,"y":980,"wires":[]},{"id":"61388715.d7d218","type":"subflow:987d9c15.b3c5","z":"92ceeb1e.d32f98","name":"","x":1780,"y":300,"wires":[["5de458a.d6b9da8","55123cfd.fe1c14","1a629c07.c5d434"],[],[]]},{"id":"58691bd5.d808c4","type":"change","z":"52f2656a.61247c","name":"","rules":[{"t":"set","p":"documentIndex","pt":"msg","to":"\"bets\" & \"-\" & $replace($split($now(), \"T\", 1) [0],\"-\",\".\")","tot":"jsonata"},{"t":"set","p":"documentType","pt":"msg","to":"doc","tot":"str"},{"t":"set","p":"documentId","pt":"msg","to":"$base64encode(msg.payload.event.official.name & ';' & msg.payload.event.date & ';' & msg.payload.odd.type & ';' & msg.payload.odd.expires_on & ';' &  msg.payload.odd.run_line & ';' & msg.payload.odd.opponent)","tot":"jsonata"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"google","pt":"msg","to":"{\t    \"q\" : msg.payload.event.name,\t    \"key\": \"google_session_test3\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":280,"wires":[[]]},{"id":"b5bb67e2.2a8d38","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1760,"y":240,"wires":[]},{"id":"eaa7b3d7.299fd","type":"debug","z":"92ceeb1e.d32f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1750,"y":360,"wires":[]},{"id":"4949ef11.8c9d5","type":"switch","z":"aca500a5.26ea7","name":"","property":"payload.enabled","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":380,"wires":[["3183b6e9.8de4ea","ed71a195.4fc58","4db3314d.976e4"]]},{"id":"a2128ad1.29f588","type":"function","z":"faf2e075.8588c","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['Accept-Language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' \nmsg.headers['User-Agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['Accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['Referer'] = 'http://www.966sport.com/live' \nmsg.headers['X-Requested-With'] = 'XMLHttpRequest' \nmsg.headers['Connection'] = 'keep-alive'\n\nmsg.headers['cookie'] = \"\";\n\nmsg.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"http://www.966sport.com/ajax/live?selsport=all&_=\" + msg.timestamp;\n\nmsg.topic = \"966SPORT_HTTP_REQUEST_COMPLETED\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["b2469cd2.9f36e"]]},{"id":"b2469cd2.9f36e","type":"http request","z":"faf2e075.8588c","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":730,"y":220,"wires":[[]]},{"id":"ca4ed912.eec118","type":"switch","z":"faf2e075.8588c","name":"Response","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"RESPONSE_FROM_","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":320,"wires":[[]]},{"id":"90a915b4.cfd408","type":"function","z":"4831be77.6607b","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['origin'] = 'https://1betpro.com' \nmsg.headers['accept-language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' \nmsg.headers['user-agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['content-type'] = 'application/x-www-form-urlencoded' \nmsg.headers['accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['referer'] = 'https://1betpro.com/live/' \nmsg.headers['authority'] = '1betpro.com' \nmsg.headers['x-requested-with'] = 'XMLHttpRequest' \n\nmsg.headers['cookie'] = \"\";\n\nmsg.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"https://1betpro.com/ajax/\"\n\nmsg.payload = {\n    \"mode\" : \"sports_leagues\",\n    \"period\" : \"live\",\n    \"rnd\" : msg.timestamp,\n    \"human\" : 0,\n    \"delta_time\" : 2113\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["a6eb88c4.19c058"]]},{"id":"a6eb88c4.19c058","type":"http request","z":"4831be77.6607b","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":790,"y":220,"wires":[[]]},{"id":"39e232.bb850dce","type":"function","z":"92ceeb1e.d32f98","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['origin'] = 'https://1betpro.com' \nmsg.headers['accept-language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' \nmsg.headers['user-agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['content-type'] = 'application/x-www-form-urlencoded' \nmsg.headers['accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['referer'] = 'https://1betpro.com/live/' \nmsg.headers['authority'] = '1betpro.com' \nmsg.headers['x-requested-with'] = 'XMLHttpRequest' \n\nmsg.headers['cookie'] = \"\";\n\nmsg.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"https://1betpro.com/ajax/\"\n\nmsg.payload = {\n    \"mode\" : \"game_more\",\n    \"game_id\" : \"live\",\n    \"rnd\" : msg.timestamp,\n    \"human\" : 1,\n    \"delta_time\" : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":300,"wires":[["8e2d701e.41c5d"]]},{"id":"8e2d701e.41c5d","type":"http request","z":"92ceeb1e.d32f98","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":1270,"y":300,"wires":[["d6ae1f43.0b543","78770d27.e7b7d4","ca8c1e52.62faa"]]},{"id":"8138f2bb.fe2e4","type":"function","z":"92ceeb1e.d32f98","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['origin'] = 'https://1betpro.com' \nmsg.headers['accept-language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' \nmsg.headers['user-agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['content-type'] = 'application/x-www-form-urlencoded' \nmsg.headers['accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['referer'] = 'https://1betpro.com/live/' \nmsg.headers['authority'] = '1betpro.com' \nmsg.headers['x-requested-with'] = 'XMLHttpRequest' \n\nmsg.headers['cookie'] = \"\";\n\nmsg.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"https://1betpro.com/ajax/\"\n\nmsg.payload = {\n    \"mode\" : \"sports_leagues\",\n    \"period\" : \"live\",\n    \"rnd\" : msg.timestamp,\n    \"human\" : 0,\n    \"delta_time\" : 2113\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":120,"wires":[["1e2a01f4.77bbfe"]]},{"id":"1e2a01f4.77bbfe","type":"http request","z":"92ceeb1e.d32f98","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":1770,"y":120,"wires":[["94885669.6ed308","76e6707d.6a4e9","6ccfcb58.4e3e64"]]},{"id":"a3ffdf4e.7085b","type":"subflow:d94fb931.bab888","z":"72706932.2ca048","name":"1Betpro Session","x":880,"y":380,"wires":[["fb578d29.1ce7f","ddf94991.e5db28"],["423bf2e8.f1eafc"]]},{"id":"22452de0.538f82","type":"subflow:fd5c9c45.e7c55","z":"72706932.2ca048","name":"","x":1680,"y":340,"wires":[["807d61ad.a771d","f2742064.23fa9","d67ed55f.025e88"]]},{"id":"3b2f8d91.8307b2","type":"json","z":"72706932.2ca048","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":540,"wires":[["7d64f751.58a0a8","9b033c6a.ff22f","555968b1.b7e128"]]},{"id":"423bf2e8.f1eafc","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":420,"wires":[]},{"id":"9bfe377e.616698","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1630,"y":400,"wires":[]},{"id":"807d61ad.a771d","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1890,"y":400,"wires":[]},{"id":"fb578d29.1ce7f","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1120,"y":280,"wires":[]},{"id":"990542a6.c5e6c","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1640,"y":280,"wires":[]},{"id":"f2742064.23fa9","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1900,"y":280,"wires":[]},{"id":"bb2abe61.a0402","type":"subflow:52f2656a.61247c","z":"72706932.2ca048","name":"","x":2240,"y":340,"wires":[["890e7c96.dae9a","bfd80ccb.b371c","42dbeb0f.fc3cf4"]]},{"id":"e81d64b7.6032c8","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2180,"y":280,"wires":[]},{"id":"c5f3bb7c.f534c8","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2170,"y":400,"wires":[]},{"id":"d3628d81.4bd6c","type":"debug","z":"72706932.2ca048","name":"post-save","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1300,"y":540,"wires":[]},{"id":"561b404f.4d0fd","type":"subflow:29cf43c4.26adec","z":"72706932.2ca048","name":"","x":880,"y":540,"wires":[["d3628d81.4bd6c","2f2a8afe.4143b6"],["d3628d81.4bd6c"],["d7b3cb7b.e48a78"]]},{"id":"d7b3cb7b.e48a78","type":"debug","z":"72706932.2ca048","name":"query result","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1140,"y":580,"wires":[]},{"id":"2f2a8afe.4143b6","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1120,"y":480,"wires":[]},{"id":"35a6dd67.524e82","type":"switch","z":"72706932.2ca048","name":"Topic router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"albert-1betpro","vt":"str"},{"t":"eq","v":"albert-save-document","vt":"str"},{"t":"eq","v":"albert-966sport","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":540,"wires":[["a3ffdf4e.7085b"],["561b404f.4d0fd"],["6d1a6a43.1f9b94"]]},{"id":"8ae4bf07.b9737","type":"rdkafka in","z":"72706932.2ca048","name":"","topic":"^albert-*","cgroup":"albert","autocommit":true,"broker":"c0e67585.074708","x":60,"y":540,"wires":[["51f05838.cc4ef8","4a71e3b5.f78e4c","3b2f8d91.8307b2"]]},{"id":"e6e3b9c3.9edc08","type":"debug","z":"72706932.2ca048","name":"Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":860,"wires":[]},{"id":"3dd79902.cfab06","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1120,"y":640,"wires":[]},{"id":"b1dcbc77.0a06e","type":"function","z":"72706932.2ca048","name":"Stringify Message","func":"\nmsg = {\n    documentIndex: msg.documentIndex,\n    documentType: msg.documentType,\n    documentId: msg.documentId,\n    payload: msg.payload,\n    debug: msg.debug,\n    flow: msg.flow\n}\n\nmsg.payload = JSON.stringify(msg);\nmsg.topic   = msg.flow + \"-save-document\";\n\nreturn msg;","outputs":1,"noerr":0,"x":2750,"y":500,"wires":[["71f4dcf7.bf9a14","a7e9fd1e.3a725"]]},{"id":"79a4f0c6.b1a75","type":"rdkafka out","z":"72706932.2ca048","name":"save-document","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":3040,"y":500,"wires":[]},{"id":"868a6923.748618","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2180,"y":620,"wires":[]},{"id":"ba0393c6.176cc","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2700,"y":440,"wires":[]},{"id":"6e15061f.74afa8","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2170,"y":760,"wires":[]},{"id":"584704ed.a58c6c","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2690,"y":560,"wires":[]},{"id":"71f4dcf7.bf9a14","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2910,"y":560,"wires":[]},{"id":"a7e9fd1e.3a725","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2920,"y":440,"wires":[]},{"id":"51f05838.cc4ef8","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":640,"wires":[]},{"id":"4a71e3b5.f78e4c","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":280,"y":440,"wires":[]},{"id":"555968b1.b7e128","type":"delay","z":"72706932.2ca048","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":540,"wires":[["35a6dd67.524e82"]]},{"id":"6d1a6a43.1f9b94","type":"subflow:b7eb2a5f.2481a8","z":"72706932.2ca048","name":"","x":900,"y":720,"wires":[["3dd79902.cfab06","e0434152.2f6db","14682161.4e2baf"],["e6e3b9c3.9edc08"]]},{"id":"2df3addd.761402","type":"subflow:dd2ff415.75e098","z":"72706932.2ca048","name":"","x":2230,"y":700,"wires":[["63039211.b3850c","92e57f2f.6beaa"],["4d7a659b.25e94c"],["dddd449d.978778"]]},{"id":"890e7c96.dae9a","type":"subflow:987d9c15.b3c5","z":"72706932.2ca048","name":"","x":2520,"y":500,"wires":[["ba0393c6.176cc","b1dcbc77.0a06e","584704ed.a58c6c"],["584704ed.a58c6c"],["584704ed.a58c6c"]]},{"id":"63039211.b3850c","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2500,"y":620,"wires":[]},{"id":"92e57f2f.6beaa","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2490,"y":760,"wires":[]},{"id":"fa6f23a9.c2e73","type":"function","z":"e1fcddda.49088","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['origin'] = 'https://1betpro.com' \nmsg.headers['accept-language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' \nmsg.headers['user-agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['content-type'] = 'application/x-www-form-urlencoded' \nmsg.headers['accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['referer'] = 'https://1betpro.com/live/' \nmsg.headers['authority'] = '1betpro.com' \nmsg.headers['x-requested-with'] = 'XMLHttpRequest' \n\nmsg.headers['cookie'] = \"\";\n\nmsg.website.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"https://1betpro.com/ajax/\"\n\nmsg.payload = {\n    \"mode\" : \"game_more\",\n    \"game_id\" : msg.payload,\n    \"rnd\" : new Date(),\n    \"human\" : 1,\n    \"delta_time\" : 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["dfb00517.1363e8"]]},{"id":"dfb00517.1363e8","type":"http request","z":"e1fcddda.49088","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":830,"y":440,"wires":[["16740cbc.486703"]]},{"id":"ddf94991.e5db28","type":"function","z":"72706932.2ca048","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['origin'] = 'https://1betpro.com' \nmsg.headers['accept-language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.7,he;q=0.6' \nmsg.headers['user-agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['content-type'] = 'application/x-www-form-urlencoded' \nmsg.headers['accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['referer'] = 'https://1betpro.com/live/' \nmsg.headers['authority'] = '1betpro.com' \nmsg.headers['x-requested-with'] = 'XMLHttpRequest' \n\nmsg.headers['cookie'] = \"\";\n\nmsg.website.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"https://1betpro.com/ajax/\"\n\nmsg.payload = {\n    \"mode\" : \"sports_leagues\",\n    \"period\" : \"live\",\n    \"rnd\" : msg.timestamp,\n    \"human\" : 0,\n    \"delta_time\" : 2113\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":340,"wires":[["ee2ebaf.4b8ef48"]]},{"id":"ee2ebaf.4b8ef48","type":"http request","z":"72706932.2ca048","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":1350,"y":340,"wires":[["78402b0e.206f34"]]},{"id":"bf3db1de.5b3f8","type":"split","z":"e1fcddda.49088","name":"For Each 1BetPro Event","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":440,"wires":[["fa6f23a9.c2e73"]]},{"id":"e0434152.2f6db","type":"function","z":"72706932.2ca048","name":"Prepare http Request","func":"msg.headers = {};\n\nmsg.headers['Accept-Language'] = 'en-US,en;q=0.9,es;q=0.8,sq;q=0.6' \nmsg.headers['User-Agent'] = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' \nmsg.headers['Accept'] = 'application/json, text/javascript, */*; q=0.01' \nmsg.headers['Referer'] = 'http://www.966sport.com/live' \nmsg.headers['X-Requested-With'] = 'XMLHttpRequest' \nmsg.headers['Connection'] = 'keep-alive'\n\nmsg.headers['cookie'] = \"\";\n\nmsg.website.session.cookies.forEach( cookie => {\n    msg.headers['cookie'] = msg.headers['cookie'] + cookie.name + \"=\" + cookie.value +\";\"\n})\n\nmsg.url = \"http://www.966sport.com/ajax/live?selsport=all&_=\" + msg.timestamp;\n\nmsg.topic = \"966SPORT_HTTP_REQUEST_COMPLETED\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":700,"wires":[["ac6350b0.e7876"]]},{"id":"ac6350b0.e7876","type":"http request","z":"72706932.2ca048","name":"","method":"GET","ret":"txt","url":"","tls":"363f279c.1671a8","x":1350,"y":700,"wires":[["88f36e56.ccac3","8da88dd2.944af"]]},{"id":"88f36e56.ccac3","type":"json","z":"72706932.2ca048","name":"","property":"payload","action":"","pretty":false,"x":1490,"y":700,"wires":[["8da88dd2.944af","e7fb8d56.3742e","3300be85.f4a2c2"]]},{"id":"16740cbc.486703","type":"json","z":"e1fcddda.49088","name":"","property":"payload","action":"","pretty":false,"x":970,"y":440,"wires":[[]]},{"id":"78402b0e.206f34","type":"json","z":"72706932.2ca048","name":"","property":"payload","action":"","pretty":false,"x":1490,"y":340,"wires":[["22452de0.538f82","990542a6.c5e6c","9bfe377e.616698"]]},{"id":"dabcda67.42b548","type":"delay","z":"987d9c15.b3c5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":560,"wires":[["33383dcd.33b232"]]},{"id":"b50b2b0e.0d4a48","type":"config","z":"aca500a5.26ea7","name":"delay","properties":[{"p":"delay","pt":"flow","to":"0","tot":"num"}],"active":true,"x":590,"y":200,"wires":[]},{"id":"9b033c6a.ff22f","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":640,"wires":[]},{"id":"7d64f751.58a0a8","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":460,"y":440,"wires":[]},{"id":"3300be85.f4a2c2","type":"split","z":"72706932.2ca048","name":"For Each 966sport League","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1700,"y":700,"wires":[["717410a5.33831","2eef2642.5b346a","e81ef915.1d4e38"]]},{"id":"c6ff8a6c.5a65a8","type":"change","z":"fd5c9c45.e7c55","name":"Set Line","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.line","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["72322ad1.a13b34"]]},{"id":"5f9d13c3.c32d0c","type":"switch","z":"fd5c9c45.e7c55","name":"Got Line","property":"payload.line","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":200,"wires":[["c6ff8a6c.5a65a8"]]},{"id":"72322ad1.a13b34","type":"split","z":"fd5c9c45.e7c55","name":"For Each Line","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":200,"wires":[["5c4c5c17.9aa634"]]},{"id":"2eef2642.5b346a","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1900,"y":640,"wires":[]},{"id":"e81ef915.1d4e38","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1890,"y":760,"wires":[]},{"id":"d67ed55f.025e88","type":"subflow:e1fcddda.49088","z":"72706932.2ca048","name":"","x":1950,"y":340,"wires":[["bb2abe61.a0402","e81d64b7.6032c8","c5f3bb7c.f534c8"]]},{"id":"bfd80ccb.b371c","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":2500,"y":280,"wires":[]},{"id":"42dbeb0f.fc3cf4","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2490,"y":380,"wires":[]},{"id":"64b40aef.230484","type":"function","z":"b7eb2a5f.2481a8","name":"Set Website","func":"msg.website = msg.payload;\n\nmsg.payload = [msg.website.name + \"_session\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["be17b9da.733e28"]]},{"id":"be17b9da.733e28","type":"redis-command","z":"b7eb2a5f.2481a8","server":"3535b384.5d390c","command":"get","name":"","topic":"","x":420,"y":240,"wires":[["f31db5d1.1b9118"]]},{"id":"f31db5d1.1b9118","type":"json","z":"b7eb2a5f.2481a8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":240,"wires":[["e7ad728d.fb27a"]]},{"id":"e7ad728d.fb27a","type":"switch","z":"b7eb2a5f.2481a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":240,"wires":[["8a088a21.50a928"],["a56d9438.4aa278"]]},{"id":"a56d9438.4aa278","type":"change","z":"b7eb2a5f.2481a8","name":"Get Session","rules":[{"t":"set","p":"website.session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"LOGIN_SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":280,"wires":[[]]},{"id":"f6c6cfcb.de8af","type":"redis-command","z":"b7eb2a5f.2481a8","server":"3535b384.5d390c","command":"set","name":"","topic":"","x":1140,"y":240,"wires":[[]]},{"id":"a7be1e21.862a5","type":"switch","z":"d94fb931.bab888","name":"Login Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN_FAILED","vt":"str"},{"t":"eq","v":"LOGIN_SUCCESS","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":80,"wires":[[],["87e56684.c18a38"]]},{"id":"15c93f15.719d71","type":"function","z":"d94fb931.bab888","name":"Set Website","func":"msg.website = msg.payload;\n\nmsg.payload = [msg.website.name + \"_session\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["9a4223d5.9c4f6"]]},{"id":"9a4223d5.9c4f6","type":"redis-command","z":"d94fb931.bab888","server":"3535b384.5d390c","command":"get","name":"","topic":"","x":420,"y":100,"wires":[["e115ab39.9b8bd8"]]},{"id":"e115ab39.9b8bd8","type":"json","z":"d94fb931.bab888","name":"","property":"payload","action":"","pretty":false,"x":550,"y":100,"wires":[["7df2c60b.8a1f48"]]},{"id":"7df2c60b.8a1f48","type":"switch","z":"d94fb931.bab888","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":100,"wires":[["f33e6a44.9207c8"],["c49073ad.50203"]]},{"id":"c49073ad.50203","type":"change","z":"d94fb931.bab888","name":"Get Session","rules":[{"t":"set","p":"website.session","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[[]]},{"id":"87e56684.c18a38","type":"redis-command","z":"d94fb931.bab888","server":"3535b384.5d390c","command":"set","name":"","topic":"","x":1140,"y":100,"wires":[[]]},{"id":"14682161.4e2baf","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":780,"wires":[]},{"id":"6a20042c.cd458c","type":"inject","z":"aca500a5.26ea7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["211b0ffa.fd4b2"]]},{"id":"73617439.01c0bc","type":"redis-command","z":"aca500a5.26ea7","server":"3535b384.5d390c","command":"del","name":"","topic":"","x":580,"y":560,"wires":[["a8f2582.6f770a8"]]},{"id":"a8f2582.6f770a8","type":"debug","z":"aca500a5.26ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":560,"wires":[]},{"id":"211b0ffa.fd4b2","type":"function","z":"aca500a5.26ea7","name":"Delete Redis keys","func":"\nmsg.payload = [\n        '966sport_session'\n    ]\n    \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["73617439.01c0bc"]]},{"id":"dddd449d.978778","type":"debug","z":"72706932.2ca048","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2460,"y":880,"wires":[]},{"id":"4d7a659b.25e94c","type":"debug","z":"72706932.2ca048","name":"2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2460,"y":840,"wires":[]},{"id":"8da88dd2.944af","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1630,"y":760,"wires":[]},{"id":"e7fb8d56.3742e","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1640,"y":640,"wires":[]},{"id":"717410a5.33831","type":"change","z":"72706932.2ca048","name":"List 966sport League Events","rules":[{"t":"set","p":"league","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.events","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":700,"wires":[["2df3addd.761402"]]}]